/** ACCOUNT
===================================*/

.account-wrap{
	padding-bottom: 60px;
}
.content-acc{
	.inside{
		@media screen and (min-width: 62em){
			padding-left: 11%;
		}
	}
}

.acc-infoBox{
	border-bottom: 1px solid #cccccc;
	padding-bottom: 38px;
	margin-bottom: 30px;

	.acc-infoBox__line{
		border: 1px solid #d3d3d3;
		text-align: center;
		color: black;
		font-size: 14px;
	}
	.acc-infoBox__in{
		display: block;
		width: 100%;
		@media screen and (min-width: 45em){
			display: inline-block;
			width: 48%;
		}
		padding: 25px 15px 20px;
		vertical-align: top;

		h4{
			margin: 0;
			line-height: 1em;
			margin-bottom: 8px;
			font-size: 40px;
			font-weight: normal;
			 font-family: 'futura_ltheavy';
		}

		.subtext, .share-reward{
			display: block;
		}

		.subtext{
			font-size: 13px;
			letter-spacing: 0.2em;
			 font-family: 'futura_ltheavy';
		}

		a.link-infoBox{
			color: black;
			text-decoration: underline;

			&:hover{
				color: #53a46c;
			}
		}

		.text-box{
			background: #e5eeee;
			color: black;
			border: 1px solid darken(#e5eeee, 8%);
			display: inline-block;
			margin: 0 3px;
			padding: 1px 5px;
			border-radius: 3px;
			overflow: auto;
			vertical-align: middle;
		}

		&:first-of-type{
			border-bottom: 1px solid #d3d3d3;
			@media screen and (min-width: 45em){
				border-bottom: none;
				border-right: 1px solid #d3d3d3;
			}
		}
	}
}

.acc-row{
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: 25px;
}

.acc-row__head{
	position: relative;
	font-size: 13px;
	margin-bottom: 32px;

	.acc-row__label{
		display: block;
		text-transform: uppercase;
		font-family: 'futura_ltheavy';

		small {
			color: #999999;
			font-size: 16px;
			font-style: italic;
			font-family: 'futura_ltlight';
			text-transform: none;	
			display: block;
		}
	}

	.acc-row__edit{
		position: absolute;
		top: 10px;
		right: 0;
		color: #999999;
		text-transform: uppercase;
		font-size: 12px;
		text-decoration: underline;
		
		.fa{
			font-size: 20px;
		}

		&:hover{
			color: #53a46c;
		}
	}
}

.cc-row__form{
	display: none;
	padding-bottom: 25px;
}

/** ACCOUNT ORDER
===================================*/
.table-order{
	font-size: 13px;
	.table {
			th{
				border-top: 0;
				border-bottom:  1px solid #cccccc;
				font-weight: normal;
				  font-family: 'futura_ltheavy';
			}
		td{
			border: none;
			padding: 10px 8px;
		}
	}
}

/** ACCOUNT ADDRESS
===================================*/

.acc-address__new{
	.btn-action{
		text-align: right;
	}
}
.acc_addForm{
	margin-top: 25px;
	display: none;
	padding-bottom: 25px;
}

.acc_editLink{
	color: #999999;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: underline;	
	.fa{
		font-size: 20px;
	}
	&:hover{
		color: #53a46c;
	}
}

.acc-addsBox{
	border: 1px solid #cdcdcd;
	padding: 10px 17px;
	margin-bottom: 12px;

	.table{
		margin-bottom: 0;
		td{
			border: none;
			font-size: 14px;

			.name{
				font-weight: normal;
				  font-family: 'futura_ltheavy';
			}

			&:last-child{
				vertical-align: middle;
			}
		}
	}
}

.shipAdd-boxes{
	.acc-addsBox{
		margin-bottom: 0;
		margin-top: -1px;
	}
}


/** ACCOUNT CARD
===================================*/

.acc-refertext{
	margin-bottom: 20px;
}

.card-thumb{
	max-width: 50px;
	padding-top: 6px;
}

.acc-referRow {
	margin-bottom: 30px;
	h4{
		margin: 0;
		margin-bottom: 10px;
		font-family: 'futura_ltheavy';
	}

	.urlBox{
		display: block;
		border: 1px solid #cdcdcd;
		padding: 8px 15px;
		font-size: 14px;
		background-color: white;
	}

	.acc_referForm{
		margin-top: 8px;
	}
}


.fade_form{
	display: none;
}

.arr-tbToggle{
	background: #ebebeb;
	color:  #bcbcbc;
	display: block;
	width: 27px;
	height: 27px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;
	font-size: 21px;
    line-height: 0.9em;

    &:hover{
    	background: #53a46c;
    	color: white;
    }

	.fa{
		vertical-align: middle;
		padding-top: 2px;
	}
}



