/** ASIDE
===================================*/
.account-menu{
	margin-bottom: 30px;
	@media screen and (min-width: 62em){
		margin-bottom: 0;
	}

	ul, li{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li{
		display: block;
		margin-bottom: 5px;
		
		a{
			color: #b9b9b9;
			font-family: 'futura_ltheavy';
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			display: block;
			padding: 12px 0 15px;
			border-bottom: 1px solid;

			&:hover{
				color: black;
			}

			&:before{
				 font: normal normal normal 14px/1 FontAwesome;
				font-size: 1.3em;
				vertical-align: middle;
				width: 30px;
				display: inline-block;
			}

			&.fa-user:before{
				font-size: 20px;
			}
			&.fa-clock-o:before{
				font-size: 21px;
			}
			&.fa-map-marker:before{
				font-size: 24px;
			}

			@media screen and (min-width: 62em){
				border-bottom : 0;
			}
		}

		&.active a{
			color:  black;
		}

		&:last-child{
			a{
				border-bottom : 0;
			}
		}

		@media screen and (min-width: 62em){
			margin-bottom: 15px;

			&:last-child{
				margin-top: 70px;
			}
		}
	}
}

/** ASIDE CHECKOUT
===================================*/
.asideInner{	
	@media screen and (min-width: 62em){padding-left: 68px;}
}

.ship-summary{
	border: 2px solid #e0e0e0;
	padding: 18px;
	margin-bottom: 30px;
	@media screen and (min-width: 48em){
		padding: 25px;
	}
}

.ship-summary{
	h4{
		font-size: 16px;
		font-family: 'futura_ltheavy';
		margin: 0;
		margin-bottom: 22px;
	}
	.table{
		td{
			border: none;
			font-size: 13px;
			padding: 4px 8px;

			&:first-child{
				padding-left: 0;
			}

			.coupon{
				text-decoration: underline;
			}
		}
	}
}
