/** BLOG
===================================*/
.blogintro{
	margin-bottom: 37px;
}

.blogintro__thumb{
	@include img-embed();
	padding-bottom: 25%;
	text-align: center;
}


/*====== HEADER NAV BLOG ======*/
.headnav-blog{
	text-align: center;
	padding-bottom: 8%;
	.headnav-blog__inner{
		@include inline-block();
	}

	.ddropdown {
		
		@media screen and (min-width: 42em){
			margin-right: 30px;
			@include inline-block();
		}
		
	}
}

@import "dropdown";

.rss-link{
	@include inline-block();
	background: url('../images/rss.png') left top no-repeat;
	background-size: 22px;
	-moz-background-size: 22px;
	-webkit-background-size: 22px;
	padding-left: 30px;
	@include a_hover();
	color: black;
	text-align: left;
	
	&:hover{
		animation: shake .5s ease-in-out;
	}
}

/*====== BLOG MAIN CONTENT ======*/


.blogitem{
	overflow: hidden;
	margin-bottom: 70px;
	.thumb{
		margin: 0 auto 25px;
		text-align: center;
		@include img-embed();
		padding-bottom: 23.8%;
		width: 240px;

		@media screen and (min-width: 40em){
			margin: 0;
			margin-right: 38px;
			float: left;
			text-align: left;
		}
	}
	.desc{
		@media screen and (min-width: 40em){
			overflow: hidden;
		}
	}

	header{
		margin-bottom: 20px;
	}

	.meta-auth{
		font-size: 0.9em;
		display: block;
	}
	.link-textblue{
		display: block;
		margin-top: 10px;
		text-align: center;
		
		@media screen and (min-width: 40em){
			text-align: left;
		}
	}
}



/** BLOG AUTHOR
===================================*/
.blog-author{
	&:before, &:after{
		content : "";
		display: table;

	}
	&:after{
		clear: both;
	}

	padding-bottom: 55px;
	margin-bottom: 35px;
	border-bottom : 1px solid #e5e5e5;
}

.blog-author__thumb{
	width: 180px;
	height: 180px;
	margin: 0 auto 25px;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;

	img{
		border-radius: 100%;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
	}

	@media screen and (min-width: 40em){
		margin: 0;
		margin-right: 38px;
		float: left;
		text-align: left;
	}
}

.blog-author__desc{
	@media screen and (min-width: 40em){
		overflow: hidden;
	}

	header{
		padding-bottom: 24px;
	}
	.author-name{
		margin:0;
		margin-bottom: 8px;
		font-family: 'futura_ltheavy';
		font-size: 37px;
		@media screen and (min-width: 40em){
			font-size: 43px;
		}

	}

	.author-as{
		font-style: italic;
		font: .9em;
	}
}

.author-favCoffee{
		margin-top: 40px;
		text-align: center;
		@media screen and (min-width: 38em){
			text-align: left;
		}

		li{
			text-align: center;
			margin-bottom: 20px;
			@include inline-block();
			padding: 0 17px;
			
			@media screen and (min-width: 38em){
				text-align: left;
				padding: 0;
				margin-right: 60px;
			}
		}
		h4{
			margin: 0;
			margin-bottom: 19px;
			font-size: 16px;
			font-family: 'futura_ltheavy';
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
		.fav-thumb{
			@include img-embed();
			width: 167px;
			padding-bottom: 99%;
			border: 1px solid #c9c9c9;
			margin: 0 auto 12px auto;
		
			@media screen and (min-width: 38em){
				margin: 0;
				margin-bottom: 12px;
			}
		}

		.detail{
			font-size: 0.9em;
		}
		.favCoffee__name{
		   text-transform: uppercase;
		   display: block;
		}

		.compos{
			color: black;
		}
		
		.link-textblue{
			
		}
}

/** BLOG DETAIL
===================================*/
.blog-single{
	padding-bottom: 50px;
	.post-dtl-share{
		margin-top: 80px;
	}
}
.link-backwrap{
	margin: 20px 0 80px;
	text-align: center;
}

.link-back{
	color: black;
	font-size: 16px;
	.fa:before{
		margin-right: 8px;
	}

	&:hover{
		color: #0d8755;

		.fa:before{
			margin-right: 5px;
		}
	}
}
.blog-single__head{
	margin-bottom: 40px;

	.title-bolddMd{
		margin-bottom: 17px
	}
	.meta-author{
		font-size: 18px;
	}
}

/*====== POST AUTHOR ======*/
.post-author{
	padding-bottom: 20px;
	margin-bottom: 25px;

	&.line-top{
		border-top: 1px solid #e5e5e5;
		padding-top: 40px;
	}
	.post-author__head{
		overflow: hidden;	
		margin-bottom: 13px;
	}

	h3{
		margin: 0;
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 8px;

		a{
			color: black;
			text-decoration: underline;
			&:hover{
				color: #0d8755;
			}
		}
	}

	.author-as{
		font-style: italic;
		font-size: 0.9em;
	}

	.post-author__img{
		width: 67px;
		padding-bottom: 67px;
		border-radius: 100%;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		@include img-embed();
		margin: 0 auto 25px; 

		@media screen and (min-width: 40em){
			float: left;
			margin: 0;
			margin-right: 25px;
		}
	}

	.personal{
		text-align: center;

		@media screen and (min-width: 40em){
			overflow: hidden;
			text-align: left;
		}
	}
}











