/** DROPDOWN
===================================*/
.ddropdown {
  width: 220px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  text-align: left;
   padding: 10px 0;
}

.ddown-nav {
  background: #f3f3f3;
  display: block;
  padding: 3px 30px 4px 10px;
  border: 1px solid #838383;
  position: relative;
  color: #181a1c;
  overflow: hidden;
  span {
    cursor: pointer;
    display: block;
    padding: 5px;
  }
  .ready {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    padding: 0 13px;
    height: 100%;
    &:before {
      vertical-align: bottom;
      top: 32%;
      position: relative;
    }
    &:hover:before {
      color: #6692f5;
    }
  }
}

.ddown-list {
  position: relative;
  ul {
    display: none;
    margin: 0;
    padding: 0;
    background: white;
    list-style: none;
    padding: 5px 0px;
    position: absolute;
    left: 0px;
    top: 2px;
    width: auto;
    width: 100%;
    border: 1px solid #f3f3f3;
        box-shadow: 1px 2px 5px 0px #A5A4A4;
        -moz-box-shadow: 1px 2px 5px 0px #A5A4A4;
        -webkit-box-shadow: 1px 2px 5px 0px #A5A4A4;
    li {
      display: block;
      a {
        display: block;
        padding: 5px 16px;
        color: #181a1c;
        &:hover {
          background: #0d8755;
          color: white;
        }
      }
    }
  }
  span.value {
    display: none;
  }
}