/** FAQ
===================================*/
.wide-banner{
	position: relative;
	min-height: 317px;
	padding : 87px 0;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	z-index: 5;
	text-align: center;
	margin-bottom: 46px;

	&:before{
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(#000000, 0.5);
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	article{
		text-align: center;
		max-width: 630px;
		text-align: center;
		color: white;
		margin: 0 auto;

		h2{
			margin: 0;
			font-size: 32px;
			font-weight: 400;
			margin-bottom: 14px;

			@media screen and (min-width: 45em){
				font-weight: 700;
				font-size: 42px;
			}
		}

		.content-text{
			font-size: 23px;
		}

		a{
			color: white;
		}

		.link-mail{
			font-size: 20px;
			background: url('../images/mailto.png') 0 7px no-repeat;
			padding-left: 30px;
			background-size: 21px auto;
			-moz-background-size: 21px auto;
			-webkit-background-size: 21px auto;
		}

	}
}


.faqmain-desc{
	margin-bottom: 50px;
	display: none;
}

.faq-banner{
	background-image: url('../images/banner_wide.jpg');
}

.faqmain{
	.title-xs{
		margin-bottom: 20px;
		padding-bottom: 15px;
		border-bottom : 1px solid #cbcbcb;

		.fa:before{
			font-size: 1.2em;
			vertical-align: middle;
			margin-right: 15px;
		}
	}
}

.faqmain-item{
	margin-bottom: 25px;

	h4{
		margin: 0;
		margin-bottom: 15px;
		font-size: 18px;
		font-weight: 700;
	}
}