/** FOOTER
===================================*/

.site-footer{
	position: relative;
	padding: 60px 0px 10px;
	background: $color-black;
}

// WIDGET
.widget-footer{
	margin-bottom: 30px;
	position: relative;
	p{
		color: $color-text-gray-light;
		a{
			color: $color-text-gray-light; 
			&:hover,
			&:focus{
				color: $color-green;	
			}
		}
	}
	.title-widget{
		margin-top: 0;
		margin-bottom: 25px;
		text-transform: uppercase;
		color: white;
		font-weight: normal;
		letter-spacing: 1px;
	}
	.text-info{
		color: white;
		font-size: 24px;
		margin-bottom: 13px;
		a{
			color: white;
			&:hover,
			&:focus{
				color: $color-green;
			}
		}
	}
}

.list-widget-link{
	list-style: none outside none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	li{
		display: block;
		&:last-child{
			margin-bottom: 0;
		}
		a{
			display: inline-block;
			color: white;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-bottom: 5px;
			&:hover,
			&:focus{
				color: $color-green;
			}
		}
	}
}

.list-widget-socmed{
	list-style: none outside none;
	margin: 0;
	padding: 0;
	li{
		display: inline-block;
		margin-right: 5px;
		&:last-child{
			margin-right: 0;
		}
	}
	a{
		border-radius: 50%;
		height: 43px;
		width: 43px;
		line-height: 43px;
		background-color: white;
		color: $color-text-gray;
		font-size: 21px;
		text-align: center;
		display: block;
		&:hover,
		&:focus{
			background-color: $color-green;
			color: white;
		}
	}
}

#footer-alt{
}

.footshare-bar{
	background-color: #efefef;
	color: #000000;
	text-align: center;
	padding: 10px 0;

	.emailtext{
		margin-bottom: 14px;
		text-transform: uppercase;
		font-size: 12px;
		color: #777777;
		display: block;
		letter-spacing: 0.18em;
		@media screen and (min-width: 45em){
			@include inline-block();
			margin-bottom: 0;
			margin-right: 15px;
		}
	}
	.foot-share	{
		@include inline-block();

		ul{
			li{
				@include inline-block();
				margin: 0 6px;

				a{
					color: #777777;
					font-size: 20px;
					display: block;
					padding: 4px 5px 0;
					&:hover{
						color: #23527c;
					}
				}
			}
		}
	}
}

.footer-alt-btm{
	font-size: 13px;
	padding: 22px 0;
	overflow: hidden;
	text-align: center;
	p{
		margin-bottom: 0;
	}
	.copyright{
		margin-bottom: 14px;
	}
		.privpo{
		a, span{
			@include inline-block();
		}

		a{
			color: #333333;
			text-decoration: underline;

			&:hover{
				color: #23527c;
			}
		}
	}
	@media screen and (min-width: 45em){
		text-align: left;
		.copyright{
			float: left;
			margin-bottom: 0;
		}
		.privpo{
			float: right;
		}
	}
}

