/** HOME
===================================*/


// BANNER-FORMATTING
.section-banner{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	.banner-caption{
		padding: 200px 0 100px;
		max-width: 940px;
		text-align: center;
		margin: 0 auto;

		&.colorWhite{
			color: white;
			h1{
				color: white;
			}
		}
	}	
	h1{
		font-size: 38px;
		@media screen and (min-width: 55em){
			font-size: 58px;
		}
		color: black;
		margin-top: 0;
		margin-bottom: 20px;
		font-family: 'futura_ltbold', sans-serif;
	}
	.btn-center{
		margin-top: 25px;

		.btn{
			
		}
	}
}

/*====== REVIEW SECTION ======*/
.review-wrap{
	background-color: #f6f6f6;
	padding : 50px 0;
	h2{
		text-align: center;
		margin: 0;
		margin-bottom: 1.6em;
	}
}
.review-item{
	text-align: center;
	@extend .imgZoom;
	margin-bottom: 25px;
	@media screen and (min-width: 55em){
		margin-bottom: 0;
	}

	a{
		color: #141414;
	}
	.inside{
		max-width: 280px;
		margin: 0 auto;;
	}

	figure{
		text-align: center;
		max-width: 280px;
		min-height: 185px;
		margin: 0 auto 15px;
		overflow: hidden;
		border: 1px solid transparent;
		background-color:  darken(#f6f6f6, 10%);
	}
	.coment{
		font-size: 1.2em;
		display: block;
		//font-family: 'futura_ltbold', sans-serif;
	}

	&:hover{
		border-color : darken (#f6f6f6, 10%);

		a{
			color: #51a16c;
		}	
	}
}

/** PRODUCT OFFER
===================================*/
.offer-box{
	position: fixed;
	right: -400px;
	bottom: 0;
	width: 100%;
	max-width: 370px;
	padding: 18px 23px;
	z-index: 101;
	background-color: white;
	border-top: 8px solid #5aad75;
	transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;

	&.show{
		right: 0;
	}

	@media screen and (min-width: 28em){
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-left-radius: 5px;
	}

	@media screen and (max-width: 380px){
		text-align: center;
		.form-control{
			margin-bottom: 8px;
		}
	}


	.offer-box_text{
		line-height: 1.4em;
		font-family: 'futura_ltheavy';
	}

	.offer-box__form{
		margin-bottom: 9px;
	}

	.form-control{
		border: 1px solid #c5c5c5;
		display: inline-block;
		width: 75%;
		height: 42px;
		vertical-align: top;
		margin-right: 5px;

		&::-webkit-input-placeholder {
		   color: #b7b7b7;
		   font-style: italic;
		}
		:-moz-placeholder { /* Firefox 18- */
		   color: #b7b7b7;
		   font-style: italic;
		}
		::-moz-placeholder {  /* Firefox 19+ */
		   color: #b7b7b7;
		   font-style: italic;
		}
		:-ms-input-placeholder {  
		   color: #b7b7b7;
		   font-style: italic;
		}
	}

	.btn-green{
		min-width: 0;
		color: white;
		padding: 9px 20px 13px;
		line-height: 1.3em;
	}

	.offer-box__close{
		color : #b7b7b7;
		font-size: 0.8em;
		text-decoration: underline;

		&:hover{
			color: #b40c00;
		}
	}
}

/** LAYER INTRO 
===================================*/
.layer-intro{
	.section-banner{
		margin-bottom: 12px;
		position: relative;
		@media screen and (min-width: 50em){
			min-height: 650px;	
		}
		
	}

	.section-banner .banner-caption {
    	padding: 21% 0 11%;
    }
}

.NewDisclaimer{
	display: none;
	@media screen and (min-width: 50em){
		display: block;
	}
	line-height: 1em;
    width: 300px;
    text-align: left;
    position: absolute;
    bottom: 20px;
    right: 15px;
}