/** PAGINATE
===================================*/
.paginatewrap{
	text-align: center;
	margin: 0 auto 50px;
	.pagination{
		font-size: 0.9em;

		.fa{
			margin: 0 5px;
		}
	}
	.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
		background-color: #0d8755;
		color:white;
	}
	.pagination > li > a, .pagination > li > span{
		border-color :  #0d8755;
		color: #000000;
	}

	.pagination > li{
		display: none;
		
		@media screen and (min-width: 40em){
			@include inline-block();
			float:left;
		}
	}
	.pagination > li.button{
		@include inline-block;
	}
}