$color-top-header: #ececec;

$color-green: #5DAB77;
$color-gray-light-more: #f3f3f3;
$color-gray-light: #ececec;
$color-gray-dark: #c5c5c5;
$color-gray-dark-more: #e4e3e4;
$color-black: #555554;
$color-blue: #00b7f1;
$color-blue-light: lighten( $color-blue, 10% );

$color-border: #b2b2b2;

$color-text-gray: #7f7f7f;
$color-text-gray-two: #6e6e6e;
$color-text-gray-light: lighten( $color-text-gray, 20% );


$futura: "futura_ltregular", sans-serif;
// percentage(1/3);


// Spacing
//  Height 32
//  10
//  
//  Banner
//  	top: 300
//  	bottom: 120
//  Navigation 20
//  section 60, 40
//  	40
//  	70
// 	circle 43