/*
* THIS IS MASTER OF SASS-FILE
* Template customize
* Built with love by juan tonang (rizwanaritonang@gmail.com)
*/


/*  VARIABLE's
/* ------------------------------------ */
@import "variable";
@import "fonts";

/*  PARAMETRIC-MIXIN's
/* ------------------------------------ */
// SELECTION
@mixin selection(){
	::selection {
	}
	::-moz-selection {
	}
}

// OPACITY-MIXIN
@mixin opacity ( $value: 0.5 ) {
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
	filter: alpha(opacity= $value * 100 );
	zoom: 1;
}

// FONT-SMOOTHING
 @mixin antialias {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

// PLACEHOLDER
@mixin placeholder(){
	::-webkit-input-placeholder {
		font-family: $roboto;
		color: $color-text-gray-99;
	}

	:-moz-placeholder { /* Firefox 18- */
		font-family: $roboto;
		color: $color-text-gray-99;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		font-family: $roboto;
		color: $color-text-gray-99;
	}

	:-ms-input-placeholder {  
		font-family: $roboto;
		color: $color-text-gray-99;
	}
}

@mixin inline-block(){
	 display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}


 @mixin prefixed($property, $value) {
  -webkit-#{$property}: $value;
     -moz-#{$property}: $value;
      -ms-#{$property}: $value;
       -o-#{$property}: $value;
          #{$property}: $value;
 }

@mixin a_hover(){
          -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

/*  MODULE
/* ------------------------------------ */
// GENERAL
html, body{
	height: 100%;
}

body{
	font-family: $futura;
	@include antialias;
	font-size: 16px;
    line-height: 1.7em;
}

img{
	max-width: 100%;
}
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a{
	text-decoration: none;
	transition: all 350ms ease-out;
	-moz-transition: all 350ms ease-out;
	-webkit-transition: all 350ms ease-out;
	&.link-textblue{
		color: #0072bc;

		&:hover, &:focus{
			color:#0d8755;
		}
	}
	&:hover, &:focus{
		text-decoration: none;
	}
}

p{
	margin : 0 0 18px;
}

h1, h2, h3, h4, h5, h6{
	font-weight:  normal;	
}

h1{}
h2{
	font-size: 24px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{}
h6{}

b,
strong{
	font-weight: bold;
}

dfn,
cite,
em,
i{
	font-style: italic;
}

code,
kbd,
tt,
var,
samp,
pre{
	font-family: Inconsolata, monospace;
}

// BUTTON
@import "module/button";

// FORM
@import "module/form";

$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

/** IMG RATIO
===================================*/
@mixin img-embed(){
	position: relative;
	height: 0;
	overflow: hidden;
	background-color: #f3f3f3;

	img{
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
	}
}
$ratio-16-9 : 56.25%; /* 9/16*100 */
$ratio-4-3 	: 75%; /* 3/4*100 */
$ratio-1-1	: 100%; /* … */

.img-center{
	display: block;
	width: 100%;
	margin-bottom: 35px;
	text-align: center;
}
.img-right{
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 25px;
	
	@media screen and (min-width: 42em){
		float: right;
		margin-left: 40px;
		margin-bottom: 20px;
		max-width: 300px;
	}
}
.caption-postimg{
	display: block;
	text-align: center;
	margin-top: 10px;
}
.img-left{
	@extend .img-right;

	@media screen and (min-width: 42em){
		float: left;
		margin-right: 40px;
		margin-left: 0;
	}
}

*:focus {
    outline: 0;
}

/*  THEME
/* ------------------------------------ */

// LAYOUT-FORMATTING
.section-box,
.section-box-small,
.section-box-smaller{
	position: relative;
}
.section-box{
	padding: 60px 0px 40px;
}

.section-box-small{
	padding: 30px 0;
}

.section-box-smaller{
	padding: 20px;
}

.header-section{
	margin-bottom: 40px;
	text-align: center;
	font-family: "futura_ltbold";
	h2{
		font-family: "futura_ltbold"; 	 	
		margin-top: 0;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.center-wrap{
	width: 90%;
	max-width: 853px;
	margin: 0 auto;
}

/** TITLE
===================================*/
.title-xs{
	font-size: 17px;
	text-transform: uppercase;
	color: black;
	font-weight: 700;
	margin-bottom: 60px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 1.4em;

	@media screen and (min-width: 40em ){
		text-align: left;
	}
}

.title-xss{
	 font-size: 13px;
	 text-transform: uppercase;
}


.title-xs-bold{
	margin: 0;
	margin-bottom: 1.4em;
	font-size: 17px;
	font-weight: normal;
	font-family: 'futura_ltbold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 1.4em;
}

.title-thinMd{
		font-size: 29px;
		margin: 0;
		margin-bottom: 15px;
		text-align: center;
		font-family: 'futura_ltregular';

		@media screen and (min-width: 40em){
			text-align: left;
		}

		a{
			color: black;

			&:hover{
				color: #0d8755;
			}
		}
	}

.title-bolddMd{
		font-family: 'futura_ltheavy', sans-serif;
	    font-size: 30px;
		margin: 0;
		margin-bottom: 15px;

		@media screen and (min-width: 40em){
			font-size: 40px;
		}

		a{
			color: black;

			&:hover{
				color: #0d8755;
			}
		}
	
}

.title-lgBold{
		font-family: 'futura_ltbold';
	    font-size: 25px;
		margin: 0;
		margin-bottom: 15px;
		line-height: 1em;
		text-transform: uppercase;

		@media screen and (min-width: 40em){
			font-size: 30px;
		}

		a{
			color: black;
			&:hover{
				color: #0d8755;
			}
		}
}
.title-centerline{
	font-size: 19px;
	font-family: 'futura_ltbold';
	line-height: 1.5em;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 26px;
	border-bottom: 1px solid #b2b2b2;
	margin-bottom: 50px;
	text-align: center;
	letter-spacing: 0.05em;
}


.item-bestseller{
	text-align: center;
	position: relative;
	margin-bottom: 30px;
	.subitem-bestseller{
		position: relative;
		display: block;
		cursor: pointer;
		&:hover,
		&:focus{
			h4, .price{
				color: $color-green;
			}
		}
	}
	.bestseller-info{
		margin-top: 20px;
		h4, .price{
			transition: all 350ms ease;
		}
		h4{
			margin-top: 0;
			margin-bottom: 5px;
			text-transform: uppercase;
			color: black;
		}
		.price{
			color: black;
		}
	}
}

.title-center{
	text-align: center;
	margin-bottom:  55px;
}

.title-xl{
		font-family: 'futura_ltregular', sans-serif;
	    font-size: 28px;
		margin: 0;
		margin-bottom: 15px;

		@media screen and (min-width: 40em){
			font-size: 35px;
		}
}

// SUBSCRIBE-FORMATTING
.section-subscribe{
	background: white;
	padding: 27px 0;

	&.bg-grey{
		background-color: #f3f3f3;
		color: #6e6e6e;
	}
}
.text-subscribe{
	font-size: 18px;
	color: #7a7a7a;

	text-align: center;
	margin: 0;
	a{
		color: #0067b3;
		position: relative;
		&:hover,
		&:focus{
			color: $color-blue-light;
		}
	}
	i{
		font-size: 9px;
		border-radius: 50%;
		height: 20px;
		width: 20px;
		display: inline-block;
		text-align: center;
		line-height: 20px;
		background-color: $color-blue;
		color: white;
		position: relative;
		top: -5px;
	}
}

// BACKGROUND-FORMATTING
.bg-gray-light{
	background-color: #f3f3f3;
}
.bg-gray-dark{
	background-color: #e4e3e4;
}
.main-grey{
	background-color: #f1f1f1;
	padding: 30px 0;
}

.text-uppercase{
	text-transform: uppercase;
}

// CLIENT-FORMATTING
.section-client{
	background: #f6f6f6;
	overflow: hidden;
	padding-bottom: 60px;

	&.default{
		padding:25px 0;
	}

	.title-client{
		color: #62615d;
		margin: 0;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
	}
	.title-client, 
	.client-link{
		min-height: 45px;
		vertical-align: middle;
		position: relative;
		line-height: 45px;
		display: block;
		text-align: center;
	}

}

/*====== LAYOUT ======*/
.block-center{
	width: 100%;
	max-width: 865px;
	margin: 0 auto;
	&:before{
		content: '';
		display: table;
	}

	&:after{
		clear: both;
	}
}



/*  BUTTON
/* ------------------------------------ */


/*  FORM
/* ------------------------------------ */
/*input[type="text"],
input[type="email"],
input[type="website"],
input[type="search"],
textarea{
	width: 100%;
	padding: 1em;
	border: 1px solid transparent;
}*/

textarea{
	resize: vertical;
}

.item{
	position: relative;
	.alert{
		float:left;
		margin:0 0 0 20px;
		padding:3px 10px;
		color: white;
		border-radius: 3px 4px 4px 3px;
		// background-color: $color-blue;
		max-width: 170px;
		white-space: pre;
		position: absolute;
		opacity: 0;
		z-index: 1;
		transition: all 250ms ease;
		&:after{
			content: "";
			display: block;
			height: 0;
			width: 0;
			// border-color: transparent $color-blue transparent transparent;
			border-style: solid;
			border-width: 11px 7px;
			position: absolute;
			top: -1px;
			left: -13px;
		}
	}
	&.bad{
		.alert{
			left:0;
			opacity: 1;
			top: 5px;
			left: 343px;
			font-size: 12px;
			padding: 10px;
		}
	}
}
 
.form-subscribe{
	input[type="email"],
	input[type="submit"]{
		position: relative;
		float: left;
		height: 50px;
	}
	input[type="email"]{
		width: 65%;
		margin-right: 2%;
	}
	input[type="submit"]{
		width: 33%;
		color: white;
		text-transform: capitalize;
	}
}
/*  HELPER
/* ------------------------------------ */

// SPACE
$spacer:
	( space15, 15px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

/*  CAPTION
**  This is only for WordPress
**  theme template
/* ------------------------------------ */
.wp-caption{
	&.alignleft{}
	&.alignright{}
	&.aligncenter{}
	&.wp-caption-text{}
	&.wp-caption-dd{}
}


/*  ALIGNMENT
**  This is only for WordPress
**  theme template
/* ------------------------------------ */
.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.aligncenter{
	clear: both;
	display: block;
	margin: 0 auto;
}

/*  SITE-HEADER
/* ------------------------------------ */

/*  SITE-MAIN
/* ------------------------------------ */
.site-mainSpace{
	padding-bottom: 90px;
	padding-top: 50px;
}


/*  SITE-FOOTER
/* ------------------------------------ */

/*  WIDGETS
/* ------------------------------------ */

/*  UPDATED
/* ------------------------------------ */
.bord-bottom{
	border-bottom: 1px solid $color-border;
}
.btn-big{
	padding: 16px 32px;
	font-size: 18px;
}
.link-inline{
	display: inline-block;
	border-bottom: 1px solid #333;
	color: #333;
	&:hover,
	&:focus{
		border-bottom: 1px solid $color-green;
		color: $color-green;
	}
}
.list-circle{
	margin: 0;
	padding: 0;
	padding-left: 20px;
	p{
		margin-bottom: 0;
	}
}
.list-num{
	margin: 0;
	padding: 0;
	padding-left: 20px;
	p{
		margin-bottom: 0;
	}	
}
.list-tab{
	list-style: none outside none;
	margin: 0;
	padding: 0;
	border-bottom:1px solid #b2b2b2;
	li{
		float: left;
		&.active{
			a{
				border-bottom: 1px solid white;
				border-left: 1px solid #b2b2b2;
				border-right: 1px solid #b2b2b2;
				border-top: 1px solid #b2b2b2;
				color: $color-green;
			}
		}
		&:hover,
		&:focus{
			a{
				color: $color-green;
			}
		}
	}
	a{
		display: block;
		padding: 10px 30px;
		color: #333;
		position: relative;
		bottom: -1px;
	}
}

.satisfac__desc h1{
	font-weight: bold;
}

.wrapper-center{
	max-width: 650px;
	margin: 0 auto;
}

.tab-content{
	padding: 45px 0;
}

.aligncenter{
	text-align: center;

}

.smaller-marg-bottom{
	margin-bottom: 60px !important;
}
.reset-splash{
	margin-bottom: 30px !important;
}
.reset-satisfac-top{
	padding-top: 0 !important;
	border-top: none !important;
	.row{
		margin-right: -8px !important;
		margin-left: -8px !important;
	}
}

.reset-satisfac-logo{
	figure{
		width: auto !important;
	}
}

.padding-help{
	padding: 2.2em !important;
}

.smallest-container{
	max-width: 650px;
	margin: 0 auto;
	.item-machine{
		float: left !important;
	
	}
}
// ITEM-REVIEW
.item-review{
	position: relative;
	margin-bottom: 15px;
	padding-left: 7px;
	padding-right: 7px;
}
.subitem-review{
	border: 1px solid #b2b2b2;
	padding: 30px;
	min-height: 420px;

	.title-reviews{
		margin-bottom: 15px;
		text-align: center;
		@media screen and (min-width: 35em){
			text-align: left;
			min-width: 120px;
		}
		img{
			@media screen and (min-width: 35em){
				float: left;
				margin-bottom: 0;
			}
			margin-right: 30px;
			height: auto;
			max-width: 120px;
			margin-bottom:20px;
		}
	}
	.content-title{
		@media screen and (min-width: 35em){
			overflow: hidden;
		}
		h3{
			font-weight: bold;
			font-size: 21px;
			margin-bottom: 5px;
		}
		span{}
	}
	p{}
}

// ITEM-MACHINE
.item-machinewrap{
	text-align: center;

	&:before, &:after{
		content : '';
		display: table;
	}

	&:after{
		clear: both;
	}
}
.item-machine{
	position: relative;
	margin-bottom: 30px;
	text-align: center;
	float:  none !important;
	@media screen and (min-width: 38em){
		// width: 22%;
		display: inline-block;
		vertical-align: top;
		float: left !important;
	}
	
	padding-right: 15px;
	padding-left: 15px;

	figure{
		height: 100%;
		overflow: hidden;
		text-align: center;
		margin-bottom: 20px;
		display: inline-block;
		vertical-align: middle;

		&.thumbtabs{
			height: 330px;
		}

		@media screen and (min-width: 42em){
			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
		}
	}
}
.subitem-machine{
	display: block;
	&:hover,
	&:focus{
		h2{
			color: $color-green;
		}
	}
	h2{
		transition: all 350ms ease;
		color: #333;
		margin-top: 0;
	}
}

// ITEM-FRESH
.item-fresh{
	position: relative;
	margin-bottom: 30px;
	text-align: center;
	.subitem-fresh{
		margin: 0 auto;
		max-width: 250px;
	}
	figure{
		margin: 0 0 15px;
		img{}
	}
	h3{
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: bold;
	}
	p{
		margin-bottom: 0;
	}
}

.row-blend-guide{
}

.stage-blend-like{
	.list-blend-like{
		list-style: none outside none;
		padding: 0;
		margin: 0;
	}
	li{
		position: relative;
		display: inline-block;
		float: left;
		&:last-child{
			a{
				margin-right: 0;
			}
		}
	}
	a{
		display: block;
		margin-right: 30px;
		margin-bottom: 30px;
		&:hover,
		&:focus{
			img{
				opacity: .9;
			}
		}
		img{
			transition: opacity 300ms ease, transform 300ms ease;
		}
	}
}
.stage-blend-try{
	.item-blend-try{
		position: relative;
		margin-bottom: 30px;
		text-align: center;
	}
	.subitem-blend-try{
		display: block;
		&:hover,
		&:focus{
			figure{
				img{
					opacity: .9;
				}
			}
		}
	}
	figure{
		img{
			width: 100%;
			transition: opacity 300ms ease, transform, 300ms ease;
		}
	}
	h3{
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 0;
		a{
			color: #333;
			&:hover,
			&:focus{
				color: $color-green;
			}
		}
	}
	p{
		margin-bottom: 0;
		font-size: 12px;
	}
}

/*  MEDIA-QUERIES
/* ------------------------------------ */
.btn-rwd-sidebar{
	display: none;
}

@import "header";
@import "nav_main";
@import "rwdsidebar";
@import "nav_inmain";
@import "Home";
@import "blog";
@import "paginate";
@import "faq";
@import "404page";
@import "story";
@import "subscription";
@import "account";
@import "shop";
@import "aside";
@import "tooltip";
@import "mediaqueries";
@import "checkout";
@import "office_delivery";
@import "_satisfac_guarant";
@import "footer";


@media (max-width:1200px) {

	// TONANG-MQ
	.subitem-review{
		min-height: 460px;
	}
	.video-wrapper{
		margin-bottom: 30px;
	}

    .nav-header ul li > a{
    	margin: 0 10px;
    	font-size: 12px;
    }
}

@media (max-width: 995px) {
	.site-header-middle{
		padding-bottom: 110px;
		padding-top: 40px;
	}
	.logo-header{
		margin-left: 0;
	}
    .nav-header{
    	display: none;

    	&.nav-left{
				display: block !important;
				margin-bottom: 20px;
				text-align: center;
				padding-bottom: 10px;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;

    		ul{
    			display: none;
    			li{
    				text-align: right;	
    				&:last-child{
	    				a{
	    					padding-right: 0;
	    					margin-right: 0;	
	    					font-size: 11px;
	    				}
    				}
    				ul{
    					display: none !important;
    				}
    			}
    		}
    	}
    }
    .logo-header{
    	float: left;
    }
    .btn-rwd-sidebar{
    	margin-top: 0;
    	display: inline-block;
    	float: right;
    	width: 42px;
    	height: 42px;
    	line-height: 42px;
    	text-align: center;
    	background-color: $color-green;
    	box-shadow: inset 0 0 0 2px rgba( $color-green, 1);
    	color: white;
    	&:hover,
    	&:focus{
			background-color: transparent;
			color: $color-green;
    	}
    }
    .section-client .title-client, 
    .section-client .client-link{
		margin-bottom: 20px;
    }
}

@media ( max-width: 993px){
	.stage-blend-like{
		.list-blend-like{
			text-align: center;
		}
		li{
			float: none;
		}
	}
}

@media( max-width: 990px){
	// TONANG-MQ
	.list-tab{
		border-bottom: none;
		li{
			float: none;
			display: block;
			&.active{
				a{
					border-bottom-color: #b2b2b2;
				}
			}
		} 
	}
	.subitem-review{
		min-height: auto;
	}
	.item-machine{
		width: (100% /3);
		float: none !important; 
	}
}

@media (max-width: 767px) {
	.item-machine{
		width: (100% /3);
	}
    .section-banner .banner-caption{
    	padding: 100px 0 70px;
    }
}


@media (max-width: 621px) {
    .btn-center{
    	a{
    		margin-right: 0 !important;
    		margin-bottom: 15px;
    	}
    }
}
@media (max-width: 570px) {
	.item-machine{
		width: 100%;
	}
    .site-header-top{
    	height: auto;
    	line-height: inherit;
    	padding: 15px 0;
    	.site-header-top-left,
    	.site-header-top-right{
    		float: none;
    		text-align: center;
    		margin-bottom: 5px;
    	}
    }
}

.imgZoom{
	overflow: hidden;
	img {
	    -webkit-transition: all 1s ease; /* Safari and Chrome */
	    -moz-transition: all 1s ease; /* Firefox */
	    -ms-transition: all 1s ease; /* IE 9 */
	    -o-transition: all 1s ease; /* Opera */
	    transition: all 1s ease;
    }

    &:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
	}
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}