<header id="header-ckout">
	<div class="container">
		<div class="head-back">
			<a href="#"><i class="fa fa-caret-left"></i> Continue Shopping</a>
		</div>	<!-- head-back -->
		<div id="logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
		<div class="head-email">
			<a href="mailto:someone@yoursite.com?subject=Hi !! We are Hiline Coffe">Need help? hi@hilinecoffee.com</a>
		</div> <!-- //head-email -->
	</div>
</header> <!-- //header-ckout -->