<div class="space30"></div>
<div class="nav-inMain">	
	<div class="container">
		<ul>
				<li {{#is basename 'story_ourmission'}} class="active"{{/is}}><a href="story_ourmission.html">Our Mission</a></li>
				<li {{#is basename 'story_production'}} class="active"{{/is}}><a href="story_production.html">Production Process</a></li>
				<li {{#is basename 'story_team'}} class="active"{{/is}}><a href="story_team.html">Team</a></li>
		</ul>
	</div>
</div> <!-- // nav-inMain -->