<div class="space30"></div>
<div class="nav-inMain_wh">	
	<div class="container">
		<ul>
				<li {{#is basename 'shop'}} class="active"{{/is}}><a href="shop.html">Top sellers</a></li>
				<li><a href="story_production.html"> for keurig</a></li>
				<li><a href="#">for nespresso</a></li>
				<li><a href="#">whole bean</a></li>
				<li><a href="#">ground packs  </a></li>
				<li><a href="#">accessories</a></li>
		</ul>
	</div>
</div> <!-- // nav-inMain -->