<header class="site-header">
	
	<!-- SITE-HEADER-TOP BEGIN  -->
	<div class="site-header-top">
			<div class="container">
				<div class="site-header-top-left clearfix">
					<p>Free Shipping on All Subscription Orders</p>
				</div>

				<div class="site-header-top-right">
					<ul class="user-about">
						<li><a href="#" class="user">Login</a></li>
						<!-- <li><a href="#" class="cart-bag">Cart </a></li> -->
					</ul>
				</div>

			</div>
	</div>
	<!-- SITE-HEADER-MIDDLE BEGIN -->
		<div class="site-header-middle">
			<div class="container">
				
				<div class="nav-header nav-left">
					<ul>
						<li>
							<a href="#">Shop</a>
								<ul>
									<li><a href="#">Pods or keurig</a></li>
									<li><a href="#">Pods for Nespresso</a></li>
									<li><a href="#">Whole Bean Coffee</a></li>
									<li><a href="#">Ground Coffee Packs</a></li>
									<li><a href="#">Accessories</a></li>
									<li><a href="#">Gift Cards</a></li>
								</ul>
						</li>
						<li><a href="#">Subscribe</a></li>
						<li {{#is basename 'office_delivery'}} class="active" {{/is}}><a href="#">Office Delivery</a></li>
					</ul>
				</div><!-- / .nav-header .nav-left -->

				<div class="logo-header">
					<a href="#">
						<img src="images/logo.png" alt="logo-site">
					</a>
				</div><!-- / .logo-header -->

				<div class="nav-header nav-right">
					<ul>
						<li><a href="#">Our Story</a></li>
						<li><a href="#">FAQs</a></li>
						<li><a href="#" class="cart-menu">Cart<span class="cart-count">(2)</span></a></li>
					</ul>
				</div><!-- / .nav-header .nav-right -->

				<a href="javscript:;" class="btn-rwd-sidebar"><i class="fa fa-bars"></i></a>

			</div>
		</div>

</header>