<!-- SECTION-SUBSCRIBE -->
<section class="section-subscribe bg-grey">
	<div class="container">
		<p class="text-subscribe">Get HiLine in your office, and get free coffee at home! <a href="#">Sign up for Free Trial today!</a></p>
	</div>
</section><!-- / #subscribe -->