<div class="site-main">
	<div class="logo404">
		<div class="container">
			<figure><a href="#"><img src="images/logo.png" alt="logo-site"></a></figure>
		</div>
	</div>

	<div class="error-wrap">
		<div class="container">
			<figure class="bg-coffee"><img src="images/cofees.jpg" alt="bg-coffee"></a></figure>
			<article class="error-msg">
				<h1>NO-SPRESSO !</h1>
				<div class="content-text">
					<p>The page you was requested was not found<br>We must be running low on caffeine!</p>
					<p>Questions ? <a href="#">We're happy to help.</a></p>
				</div>
				<a href="#" class="btn btn-green">Browse Our Product</a>
			</article><!-- error-msg -->
		</div>
	</div>
</div> <!-- Site Main -->
	
