{{> site-header-cart}}

<div class="site-main">
	<div class="space60"></div>
	<div class="account-wrap container">
		
		<div class="title-center"><h2 class="title-xs-bold">ORDER HISTORY</h2></div>
		
		<div class="row">
			{{> aside_account }}

			<div class="content-acc col-md-9">
				<div class="inside">
					<div class="table-order table-responsive">
						<table class="table">
							<tr>
								<th>ID</th>
								<th>Date</th>
								<th>Products</th>
								<th>Total</th>
							</tr>
							<tr><td colspan="4"></td></tr>
							<tr>
								<td>134</td>
								<td>Jan 21, 2015</td>
								<td>Black Wallstreet, 
									<a class="tip_trigger">Blue Broadway, 
										<span class="tip">Tes tooltip </span>
									</a>...
								</td>
								<td>$156.54</td>
							</tr>
							<td>121</td>
								<td>Jan 9, 2015</td>
								<td><span>Blue Broadway.</span></td>
								<td>$50</td>
							</tr>
						</table>
					</div> <!-- //table-order -->
				</div>
			</div> <!-- //content-acc -->
		</div>
	</div> <!-- // account wrap -->
	{{> subscribe_grey }}
</div> <!-- //Site Main -->
	
