{{> site-header-cart}}

<div class="site-main">
	<div class="space60"></div>
	<div class="account-wrap container">
		<div class="title-center"><h2 class="title-xs-bold">Credit Cards</h2></div>
		
		<div class="row">
			{{> aside_account }}

			<div class="content-acc col-md-9">
				<div class="inside">
					<div class="acc-address__new">
						<p class="btn-action"><a href="#" class="acc_editLink navFade_Form"><span>Add New</span></a></p>
						<div class="fade_form">
							<form name="">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Card description">
								</div>
								<div class="row form-group">
									<div class="col-sm-4">
										<input type="text" class="form-control" placeholder="Zip">
									</div>	
									<div class="col-sm-8">
										<div class="row">
											<div class="col-sm-4">
												<select class="form-control">
													<option>Month</option>
													<option>Option 1</option>
													<option>Option 2</option>
													<option>Option 3</option>
													<option>Option 4</option>
												</select>
											</div>
											<div class="col-sm-4">
												<select class="form-control">
													<option>Year</option>
													<option>Option 1</option>
													<option>Option 2</option>
													<option>Option 3</option>
													<option>Option 4</option>
												</select>
											</div>
											<div class="col-sm-4">
												<select class="form-control">
													<option>CVV</option>
													<option>Option 1</option>
													<option>Option 2</option>
													<option>Option 3</option>
													<option>Option 4</option>
												</select>
											</div>
										</div>
									</div>
									
								</div>
								<div class="form-group">
									<input type="submit" name="" value="submit" class="btn btn-green">
								</div>
							</form>
						</div>
					</div><!-- //acc-address__new -->

					<div class="acc-addsBox table-responsive fadeBox">
						<table class="table">
							<tr>
								<td width="15%" align="center"><figure class="card-thumb"><img src="images/visa.png" alt=""></figure></td>
								<td>
									<p class="card-detail">
										<strong>Jacob's Office VISA</strong><br>
										XXXX 5207<br>Expires 5/2017
									</p>
								</td>
								<td align="right"><a href="#" class="acc_editLink">edit</a></td>
							</tr>
						</table>
					</div> <!-- //acc-addsBox -->

					<div class="acc-addsBox table-responsive fadeBox">
						<table class="table">
							<tr>
								<td width="15%" align="center"><figure class="card-thumb"><img src="images/mastercard5.png" alt=""></figure></td>
								<td>
									<p class="card-detail">
										<strong>Jacob's Office Card for Meeting with High Profile Leads</strong><br>
										XXXX 5207<br>Expires 5/2017
									</p>
								</td>
								<td align="right"><a href="#" class="acc_editLink">edit</a></td>
							</tr>
						</table>
					</div> <!-- //acc-addsBox -->
				</div>
			</div> <!-- //content-acc -->
		</div>
	</div> <!-- //Account wrap -->
	{{> subscribe_grey }}
</div> <!-- //Site Main -->
	
