{{> site-header-cart}}

<div class="site-main">
	<div class="space60"></div>
	<div class="account-wrap container">
		<div class="title-center"><h2 class="title-xs-bold">Shipping Address</h2></div>
		<div class="row">
			{{> aside_account }}

			<div class="content-acc col-md-9">
				<div class="inside">
					<div class="acc-address__new">
						<p class="btn-action"><a href="#" class="acc_editLink navFade_Form"><span>Add New</span></a></p>
						<div class="fade_form">
							<form name="">
								<div class="row form-group">
									<div class="col-sm-6">
										<input type="text" class="form-control" placeholder="First Name">
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control" placeholder="Last Name">
									</div>
								</div>

								<div class="form-group">
									<input type="text" class="form-control" placeholder="Email">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Company">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Full Street Address">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Apt, Floor, Unit">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="City">
								</div>
								<div class="row form-group">
									<div class="col-sm-6">
										<select class="form-control">
											<option>State / Province</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control" placeholder="Zip">
									</div>	
								</div>
								<div class="form-group">
									<input type="submit" name="" value="submit" class="btn btn-green">
								</div>
							</form>
						</div>
					</div><!-- //acc-address__new -->

					<div class="acc-addsBox table-responsive fadeBox">
						<table class="table">
							<tr>
								<td><strong class="name">Felix Widjaja</strong></td>
								<td>GGR<br>New York, NY 1234<br>UNITED STATES</td>
								<td align="right"><a href="#" class="acc_editLink">edit</a></td>
							</tr>
						</table>
					</div> <!-- //acc-addsBox -->

					<div class="acc-addsBox table-responsive fadeBox">
						<table class="table">
							<tr>
								<td><strong class="name">Felix Widjaja</strong></td>
								<td>GGR<br>New York, NY 1234<br>UNITED STATES</td>
								<td align="right"><a href="#" class="acc_editLink">edit</a></td>
							</tr>
						</table>
					</div> <!-- //acc-addsBox -->

					<div class="acc-addsBox table-responsive fadeBox">
						<table class="table">
							<tr>
								<td><strong class="name">Felix Widjaja</strong></td>
								<td>GGR<br>New York, NY 1234<br>UNITED STATES</td>
								<td align="right"><a href="#" class="acc_editLink">edit</a></td>
							</tr>
						</table>
					</div> <!-- //acc-addsBox -->
				</div>
			</div> <!-- //content-acc -->
		</div>
	</div> <!-- // Account wrap -->
	{{> subscribe_grey }}
</div> <!-- //Site Main -->
	
