{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner6.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>blend guide</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->


	<div class="satisfac reset-satisfac-top">
		<div class="container">
			
			<div class="row bord-bottom">
				<div class="col-md-4"><h2><b>IF YOU LIKE</b></h2></div>
				<div class="col-sm-8"><h2><b>TRY THESE</b></h2></div>
			</div><!-- / .row .bord-bottom -->

			<div class="clearfix"></div>
			<div class="space30"></div>

			<div class="row row-blend-guide bord-bottom">
				<div class="col-md-4 stage-blend-like">
					<ul class="list-blend-like clearfix">
						<li>
							<a href="#">
								<img src="images/blend/circle/1.png" alt="" width="65" height="65">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/blend/circle/2.png" alt="" width="65" height="65">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/blend/circle/3.png" alt="" width="65" height="65">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/blend/circle/4.png" alt="" width="65" height="65">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/blend/circle/5.png" alt="" width="65" height="65">
							</a>
						</li>
					</ul>
				</div><!-- / .ol-md-4 stage-blend-like -->
				<div class="col-md-8 stage-blend-try">
					<div class="row row-inner">
						
						<div class="col-md-6 item-blend-try clearfix">
							<div class="subitem-blend-try">
								<figure>
									<img src="images/blend/block/1.jpg">
								</figure>
								<h3><a href="#">wall street</a></h3>
								<p>Creamy, Nutyy, Savory - Intesity: 10/10</p>
							</div>
						</div><!-- / .col-md-6 .item-blend-try -->

						<div class="col-md-6 item-blend-try clearfix">
							<div class="subitem-blend-try">
								<figure>
									<img src="images/blend/block/2.jpg">
								</figure>
								<h3><a href="#">Times square</a></h3>
								<p>Chocolate, Sage, Full Bodied - Intesity: 9/10</p>
							</div>
						</div><!-- / .col-md-6 .item-blend-try -->

						<div class="col-md-6 item-blend-try clearfix">
							<div class="subitem-blend-try">
								<figure>
									<img src="images/blend/block/3.jpg">
								</figure>
								<h3><a href="#">broadway</a></h3>
								<p>Fruity, Tart, Intricate - Intesity: 9/10</p>
							</div>
						</div><!-- / .col-md-6 .item-blend-try -->

					</div>
				</div><!-- / .col-md-8 .stage-blend-try -->
			</div><!-- / .row-blend-guide bor-bottom -->

			<div class="clearfix"></div>
			<div class="space30"></div>


			<div class="row row-blend-guide bord-bottom">
				<div class="col-md-4 stage-blend-like">
					<ul class="list-blend-like clearfix">
						<li>
							<a href="#">
								<img src="images/blend/circle/6.png" alt="" width="65" height="65">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/blend/circle/7.png" alt="" width="65" height="65">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/blend/circle/8.png" alt="" width="65" height="65">
							</a>
						</li>
					</ul>
				</div><!-- / .ol-md-4 stage-blend-like -->
				<div class="col-md-8 stage-blend-try">
					<div class="row row-inner">
						
						<div class="col-md-6 item-blend-try clearfix">
							<div class="subitem-blend-try">
								<figure>
									<img src="images/blend/block/4.jpg">
								</figure>
								<h3><a href="#">liberty lungo</a></h3>
								<p>Rasberry, Caramel, Floral - Intesity: 10/10</p>
							</div>
						</div><!-- / .col-md-6 .item-blend-try -->

					</div>
				</div><!-- / .col-md-8 .stage-blend-try -->
			</div><!-- / .row-blend-guide bor-bottom -->

			<div class="clearfix"></div>
			<div class="space30"></div>

			<div class="row row-blend-guide bord-bottom">
				<div class="col-md-4 stage-blend-like">
					<ul class="list-blend-like clearfix">
						<li>
							<a href="#">
								<img src="images/blend/circle/9.png" alt="" width="65" height="65">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/blend/circle/10.png" alt="" width="65" height="65">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/blend/circle/11.png" alt="" width="65" height="65">
							</a>
						</li>
					</ul>
				</div><!-- / .ol-md-4 stage-blend-like -->
				<div class="col-md-8 stage-blend-try">
					<div class="row row-inner">
						
						<div class="col-md-6 item-blend-try clearfix">
							<div class="subitem-blend-try">
								<figure>
									<img src="images/blend/block/5.jpg">
								</figure>
								<h3><a href="#">brooklyn</a></h3>
								<p>Sirupy, Walnut, Blackberry - Intesity: 6/10</p>
							</div>
						</div><!-- / .col-md-6 .item-blend-try -->

						<div class="col-md-6 item-blend-try clearfix">
							<div class="subitem-blend-try">
								<figure>
									<img src="images/blend/block/6.jpg">
								</figure>
								<h3><a href="#">chelsea</a></h3>
								<p>Chocoltae, Blackberry, Lively - Intesity: 7/10</p>
							</div>
						</div><!-- / .col-md-6 .item-blend-try -->

						<div class="col-md-6 item-blend-try clearfix">
							<div class="subitem-blend-try">
								<figure>
									<img src="images/blend/block/7.jpg">
								</figure>
								<h3><a href="#">soho</a></h3>
								<p>Chocoltae, Blackberry, Lively - Intesity: 7/10</p>
							</div>
						</div><!-- / .col-md-6 .item-blend-try -->

					</div>
				</div><!-- / .col-md-8 .stage-blend-try -->
			</div><!-- / .row-blend-guide bor-bottom -->

			<div class="clearfix"></div>
			<div class="space30"></div>

			<div class="row row-blend-guide bord-bottom">
				<div class="col-md-4 stage-blend-like">
					<ul class="list-blend-like clearfix">
						<li>
							<a href="#">
								<img src="images/blend/circle/12.png" alt="" width="65" height="65">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/blend/circle/4.png" alt="" width="65" height="65">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/blend/circle/7.png" alt="" width="65" height="65">
							</a>
						</li>
					</ul>
				</div><!-- / .ol-md-4 stage-blend-like -->
				<div class="col-md-8 stage-blend-try">
					<div class="row row-inner">
						
						<div class="col-md-6 item-blend-try clearfix">
							<div class="subitem-blend-try">
								<figure>
									<img src="images/blend/block/4.jpg">
								</figure>
								<h3><a href="#">central park decaf</a></h3>
								<p>Cacao Nib, Nutty, Crisp</p>
							</div>
						</div><!-- / .col-md-6 .item-blend-try -->

					</div>
				</div><!-- / .col-md-8 .stage-blend-try -->
			</div><!-- / .row-blend-guide bor-bottom -->

			<div class="clearfix"></div>
			<div class="space30"></div>

		</div>
	</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->