{{> site-header}}

<div class="site-main">
	<div class="space60"></div>
	<section class="blog-author"> 
		<div class="container">
			{{#blogAuthor}}
				<figure class="blog-author__thumb">
					<img src="images/{{authorpic}}" alt="">
				</figure>

				<div class="blog-author__desc">
					<header>
						<h3 class="author-name">{{name}}</h3>
						<span class="author-as">{{position}}</span>
					</header>

					<div class="content-text">
						{{desc}}
					</div>

					<div class="author-favCoffee">
						<ul class="list-unstyled">
							{{~#favCoffee}}
								<li>
									<h4>{{favTitle}}</h4>
									<a href="#" class="link-textblue">
										<figure class="fav-thumb"><img src="images/{{thumb}}" alt=""></figure>
										<div class="detail">
											<span class="favCoffee__name">{{favProd}}</span>
											<span class="compos">{{favDesc}}</span>
										</div>
									</a>
								</li>
							{{~/favCoffee}}
						</ul>
					</div> <!-- //author-favCoffee -->
				</div>
			{{/blogAuthor}}
		</div>
	</section> <!-- //blogauthor-wrap -->

	<div class="blogmain">
		<div class="container">

			<section class="blogitem-wrap center-wrap">
				<h2 class="title-xs">Recent BLog Posts</h2>
				{{~#blogItem}}
					<article class="blogitem">
						<figure class="thumb"><img src="images/blog/blog_thumb.jpg"></figure>
						<div class="desc">
							<header>
								<h3 class="title-thinMd"><a href="#">{{title}}</a></h3>
								<span class="meta-auth">{{meta}}</span>
							</header>

							<div class="content-text">
								{{desc}}
								<a href="#" class="link-textblue">{{link}}</a>
							</div>
						</div>
					</article> <!-- //blogitem -->
				{{~/blogItem}}
				  <div class="clearfix"></div>
				  <div class="paginatewrap">
						<ul class="pagination">
							<li class="button"><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-caret-left"></i>Prev</span></a></li>
							<li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><span>...</span></li>
							<li><a href="#">5</a></li>
							<li class="button"><a href="#" aria-label="Next"><span aria-hidden="true">Next <i class="fa fa-caret-right"></i></span></a></li>
						</ul>
				 </div>
			</section> <!-- //blogitem-wrap -->
		</div>
	</div> <!-- Blog Main -->
</div><!-- Site Main -->
	
