{{> header_ceckout}}
<div class="site-main site-mainSpace">
	<div class="container">
		<h2 class="title-lgBold">Your Cart</h2>
		<div class="space20"></div>
		<div class="tb-subsRev table-responsive ct-target">
			<table class="table">
				<tr>
					<th>Product</th>
					<th>Price</th>
					<th>Qty</th>
					<th>Product Total</th>
				</tr>
				<tr>
					<td>
						<figure class="tb-subRev__thumb"><img src="images/checkout/thumb1.png" alt=""></figure>
						<div class="tb-subRev__desc">
							<br>
							<h5>20 Pods for Nespresso / Month</h5>
							<span>- Liberty Lungo Dark x1</span>
						</div>
					</td>
					<td>
						<span class="price">$14.99</span>
					</td>
					<td>
						<div class="group-qty">
							<span class="group-btn">
								<button class="btn-circle btn-minuse">-</button>
							</span>
							<input type="text" value="0" size="4">
							<span class="group-btn">
								<button class="btn-circle btn-pluss">+</button>
							</span>
						</div>
					</td>
					<td align="right">
						<span class="price">$14.99</span>
						<a href="" class="fa fa-minus-circle"></a>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<div class="tb-subtotal">
							<span class="subtotal_text">subtotal</span>
							<span class="subtotal_prices">$14.99</span>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="4" style="border: 0;"><div class="text-right"><button class="btn btn-greenBold">Continue Checkout</button></div></td>
				</tr>
			</table>
		</div>
	</div>
</div> <!-- //Site Main -->
	
