{{> header_ceckout}}

<div class="ship-nav">
	<div class="container">
		<div class="box lined">
			<span class="numb">1</span>
			<span class="text">Shipping</span>
		</div>	
		<div class="box active">
			<span class="numb">2</span>
			<span class="text">Payment and Review</span>
		</div>
	</div>
</div><!-- //ship-nav -->

<div class="site-main site-mainSpace">
	<div class="container">
		<div class="row form-shipAdd">
			<form name="">
				<div class="leftside col-md-7">
					<div class="f-headtext">
						<h5>Payment Information</h5>
						<a href="#" class="f-headtext__link">Choose Stored Card</a>
					</div>

					<div class="payCheck">
						<p class="title-xss">Credit Card</p>
						<div class="payCheck__cc row">
							<div class="form-group col-md-4">
								<input type="text" placeholder="Card number" class="form-control"> 
							</div>
							<div class="form-group col-md-3">
								<select class="form-control">
									<option>Month</option>
									<option>August</option>
									<option>July</option>
									<option>June</option>
									<option>May</option>
								</select>
							</div>
							<div class="form-group col-md-3">
								<select class="form-control">
									<option>Year</option>
									<option>2015</option>
									<option>2014</option>
									<option>2013</option>
									<option>2012</option>
								</select>
							</div>
							<div class="form-group col-md-2">
								<input type="text" placeholder="CVV" class="form-control"> 
							</div>
						</div>
						<div class="checkbox">
						    <input type="checkbox" value="" id="cxbox">
						    <label for="cxbox"><span></span>Save this card</label>
						</div>
						<div class="space15"></div>
						<div class="checkbox">
						    <input type="checkbox" value="" id="cxbox2">
						    <label for="cxbox2"><span></span>GIFT CARD</label>
						</div>
						<div class="form-group">
							<input type="text" placeholder="Card code" class="form-control"> 
						</div>
						<div class="space20"></div>
						<div class="f-headtext">
							<h5>Billing Address</h5>
							<div class="checkbox right">
							    <input type="checkbox" value="" id="cxbox3">
							    <label for="cxbox3"><span></span>Same as shipping address</label>
							</div>
						</div>

						<div class="f-headtext">
							<h5>Shipping address</h5>
							<a href="#" class="f-headtext__link">Change Shipping Address</a>
						</div>

						<div class="acc-addsBox table-responsive">
							<table class="table">
								<tr>
									<td width="28%"><strong class="name">Felix Widjaja</strong></td>
									<td>GGR<br>New York, NY 1234<br>UNITED STATES</td>
									<td align="right"></td>
								</tr>
							</table>
						</div> <!-- //acc-addsBox -->
					</div>
				</div><!-- //leftside -->

				<aside class="asideright col-md-5">
					<div class="asideInner">
						<div class="ship-summary">
							<h4>Order Summary</h4>
							<table class="table tb-shisumary">
								<tr>
									<td>Subtotal</td>
									<td align="right">$28.99</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td align="right"><em>free</em></td>
								</tr>
								<tr>
									<td>Tax</td>
									<td align="right">$0.00</td>
								</tr>

								<tr>
									<td>Total (USD)</td>
									<td align="right">$25.00</td>
								</tr>
								<tr><td colspan="2"></td></tr>
								<tr><td colspan="2"></td></tr>
								<tr>
									<td colspan="2"><a href="#" class="coupon">Apply Coupon Code</a></td>
								</tr>
							</table>
						</div><!-- //ship-summary -->
						<div class="btn-full"><input type="submit" name="" value="Submit Order" class="btn btn-greenBold"></div>
					</div>
				</aside> <!-- asideright -->

			</form>
		</div> <!-- // form-shipAdd--> 
	</div>
</div> <!-- //Site Main -->

	
