{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner6.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>review of keurig 2.0</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">compare keurig vs keurig 2.0</h2>
		</article>
	</div><!-- / .container -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">

				<div class="satisfac__desc col-sm-12">
					<h2>Why Buy a Keurig?</h2>
					<div class="content-text">Preparing coffee is a daily routine for 70% of Americans who drink coffee. The majority of us drink our favorite beverage daily, and some of us drink 3 cups or more per day. Keurig has become one of the three most successful coffee companies in the world (along with <a href="#" class="link-inline">Starbucks</a> and <a href="#" class="link-inline">Nespresso</a>) by building a machine that can make a good single cup quickly. Indeed it takes about a minute after the machine is warmed up. Unlike a traditional drip coffee maker that makes a pot and stands idling burning the coffee, Keurig brewer creates a cup to order, without causing the coffee to stand in the pot for hours thus increasing in bitterness and acidity. Another important part of Keurig’s technology is the pod. By sealing the ground coffee in a pod, coffee is protected from oxidation thereby extending the life of the coffee inside by months. While Keurig claims that the coffee in pods lasts for over a year, HiLine’s tests revealed that within 2-3 months the quality in a pod begins to lose a lot of its qualities. So why buy a Keurig brewer:

						<ul class="list-circle">
							<li>
								<p>A single cup made to order in 1 minute</p>
							</li>
							<li>
								<p>Easy to use; easy to clean</p>
							</li>
							<li>
								<p>Great variety of pods available, including from Keurig partners like Starbucks and unlicensed players like Hiline</p>
							</li>
						</ul>
					</div>

					<div class="space60"></div>
					<div class="tablist-container clearfix">
						<ul class="list-tab clearfix" role="tablist">
							<li class="active">
								<a href="#ori" aria-controls="home" role="tab" data-toggle="tab">Advantage of Original Keurig</a>
							</li>
							<li>
								<a href="#nonori" aria-controls="home" role="tab" data-toggle="tab">Advantage of Keurig 2.0</a>
							</li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane fade in active" id="ori">
								<figure class="aligncenter">
									<img src="images/reviewkeurig.jpg" alt="">
								</figure>

								<div class="space45"></div>

								<div class="content-text">
									Overall the original Keurig machine and Keurig 2.0 have a lot in common. While there are several models, they look the same. The older machine was cheaper and had more pod options available. While there are more likely to be a greater pod selection in the future, particularly if Keurig 2.0 receives wide adoption, now there is no need for retailer to stuck up on both old and new pods. Indeed there are very few <a href="#" class="link-inline">Keurig 2.0 machines</a> installed at this time. Given the consumer pushback, the adoption may be slow during the first year or two.
								</div>
							</div>
							<div class="tab-pane fade" id="nonori">
								
								<div class="video-wrapper wrapper-center">
									<iframe width="560" height="315" src="http://www.youtube.com/embed/3Rxuu_4XpEM" frameborder="0" allowfullscreen></iframe>
								</div>

								<div class="space45"></div>
								<div class="content-text">According to Brian Kelley, Keurig’s CEO, many consumers indicated that the number one suggested improvement is to be able to make a coffee in a carafe. This claims seems very counterintuitive because the single biggest advantage of Keurig was that it made one cup at a time. Going back to a carafe was unexpected. Indeed, if you have a meeting in the office or have guests over for brunch, you may find carafe preparation advantageous. Hence Keurig 2.0 was born. It takes two types of k-cups. The big one that makes a carafe and a small one that makes a cup. As an added bonus, Keurig 2.0 has DRM protection against unlicensed players like HiLine. While the hackers figured out how to beat the DRM within months after the machine introduction, many customers were disappointed by Keurig’s unveiled attempt to increase prices without increasing quality. Most customer complaints focused on the following issues:</div>
								<ol class="list-num">
									<li>
										<p>Can’t use old <a href="#" class="link-inline">k-cups</a>;</p>
									</li>
									<li>
										<p>
											Can't set default cup size;
										</p>
									</li>
									<li>
										<p>
											Plastic carafe doesn't retain heat;
										</p>
									</li>
									<li>
										<p>Can't dispense hot water without holding down a button.</p>
									</li>
								</ul>

							</div>
							
						</div><!-- / .tab-content -->

					</div><!-- / .tablist-container -->

				</div><!-- / .satisfac__desc .col-sm-12 -->				

			</div>
		</div>
	</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->