{{> site-header}}

<div class="site-main">
{{#faq}}
	<div class="wide-banner faq-banner">
		<div class="container">
			{{#faqIntro}}
				<article>
					<h2>{{title}}</h2>
					<div class="content-text">
						<p>{{text}}</p>
						<a href="#" class="link-mail">{{link}}</a> 
					</div>
				</article>
			{{/faqIntro}}
		</div>
	</div> <!-- //wide banner -->

	<div class="faqmain">
		<div class="container">
			{{#faqMain}} 
				<div class="faqmain-wrap">
					<h3 class="title-xs togNav-head"><i class="fa fa-caret-right"></i>{{title}}</h3>
					<div class="faqmain-desc">
						{{~#faqList}}
							<article class="faqmain-item">
								<h4>{{subtitle}}</h4>
								<div class="content-text">
									{{{desc}}}
								</div>
							</article>
						{{/faqList}}
					</div>
				</div> <!-- //faqmain-wrap -->
			{{/faqMain}}
		</div>
	</div><!-- //faqmain -->
	<div class="space60"></div>
{{/faq}}
</div> <!-- Site Main -->


	
