{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner5.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>Fresh is Better</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<h2 class="title-centerline">You'll never want to drink stale coffee aain</h2>

		<div class="satisfac__desc row">
				<div class="col-sm-4 item-fresh clearfix">
					<div class="subitem-fresh">
						<figure><img src="images/story/production.jpg"></figure>
						<h3>Roast</h3>
						<p>We roast award-winning beans when you place an order.</p>
					</div>
				</div><!-- / .item-fresh -->
				
				<div class="col-sm-4 item-fresh clearfix">
					<div class="subitem-fresh">
						<figure><img src="images/story/production2.jpg"></figure>
						<h3>Pack</h3>
						<p>We pack the coffee in pods for use with your Keurig machine.</p>
					</div>
				</div><!-- / .item-fresh -->

				<div class="col-sm-4 item-fresh clearfix">
					<div class="subitem-fresh">
						<figure><img src="images/story/production3.jpg"></figure>
						<h3>Ship</h3>
						<p>We ship the pods to you when the coffee is still fresh, aromatic and strong.</p>
					</div>
				</div><!-- / .item-fresh -->

				<div class="clearfix"></div>
				<div class="space45"></div>

		</div><!-- / .satisfac__desc -->

		<section class="satisfa-testi row">
			<div class="thumb col-sm-5 padding-help">
				<figure><img src="images/freshisbettertesti.jpg"></figure>
			</div>
			<div class="desc col-sm-7">
				<h4>Freshest Coffee Pods for Keurig</h4>
				<p>We love a fresh, strong, delicious cup of coffee in the morning, afternoon and evening. We also adore the convenience of Keurig makers. To replicate the best local third-wave café experience, we decided to completely change how coffee pods are made. We start with award winning coffee beans and pack them into pods. We ship the pods directly to you days after the coffee was roasted circumventing a very lengthy and expensive retail distribution chain. You get the freshest pods on the market that a delicious cup with all anti-oxidants and caffeine intact. If you find a better pod, we’ll give you your money back!</p>
			</div>
		</section><!-- / .satisfa-testi -->

		<div class="clearfix"></div>
		<p class="text-center">
			<a href="#" class="btn btn-green btn-big">shop now</a>
		</p>

		<div class="clearfix"></div>
		<div class="space45"></div>
		<div class="space15"></div>
	</div><!-- / .container -->
</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->