{{> site-header-cart}}

<div class="site-main">
<!-- SECTION-BANNER-BEGIN -->
	<div class="layer-intro">
		<ul class="list-unstyled">
		  <li class="section-banner" style="background-image: url('../images/banner.jpg');">
			<div class="banner-caption">
				<h1>Drink Fresh Coffe</h1>
				<p>The freshest pods for Keurig and Nespresso <br>delivered to your door.</p>
				<div class="btn-center">
					<a href="#" class="btn btn-gray">SHOP</a>
					<a href="#" class="btn btn-green">SUBSCRIBE</a>
				</div>

				<div class="NewDisclaimer">HiLine Coffee is not endorsed, sponsored, licensed or approved by Nespresso or any of its affiliates. Nespresso® is a registered trademark of Societe des Produits Nestle S.A.</div>
			</div>	
		  </li>
		   <li class="section-banner" style="background-image: url('images/banner2.jpg');">
			<div class="banner-caption">
				<h1>Why fresh?</h1>
				<p>Fresh coffee tastes better.<br>Pods sold in stores were roasted months ago.<br>We roast right before shipping..</p>
				<div class="btn-center">
					<a href="#" class="btn btn-gray">SHOP</a>
					<a href="#" class="btn btn-green">SUBSCRIBE</a>
				</div>
			</div>	
		  </li>
		   <li class="section-banner" style="background-image: url('images/banner3.jpg');">
			<div class="banner-caption colorWhite">
				<h1>How it works</h1>
				<p>Select your coffee maker and favorite roasts.<br>We’ll ship them right to your door!</p>
				<div class="btn-center">
					<a href="#" class="btn btn-gray">SHOP</a>
					<a href="#" class="btn btn-green">Pods for keurig</a>
				</div>
			</div>	
		  </li>
		   <li class="section-banner" style="background-image: url('images/banner4.jpg');">
			<div class="banner-caption">
				<h1>Made in New York</h1>
				<p>We are a boutique New York roaster.<br>We specialize in outstanding coffees for discerning customers.</p>
				<div class="btn-center">
					<a href="#" class="btn btn-gray">SHOP</a>
					<a href="#" class="btn btn-green">Pods for keurig</a>
				</div>
			</div>	
		  </li>
		  
		</ul>
	</div>

	<div class="review-wrap">
		<div class="container">
			<h2>See what other are saying about Hiline Coffee</h2>
			<ul class="list-unstyled row">
				<li class="col-sm-4 review-item">
					<div class="inside">
						<figure><img alt="Matt Lambert" src="images/review/matt_lambert3.jpg"></figure>
						<span class="coment">"Delicious and convenient"</span><small>- Matt Lambert, Michelin Chef</small></figure>
					</div>
				</li>
				<li class="review-item col-sm-4">
					<div class="inside">
						<figure><img alt="Anthony Fong" src="images/review/anthony_fong1.jpg"></figure>
						<span class="coment">"Highest Quality"</span><small>- Anthony Fong, Restauranteur</small>
					</div>
				</li>
				<li class="review-item col-sm-4">
					<div class="inside">
						<figure><img alt="Kenneth David" src="images/review/ken_davids1.jpg"></figure>
						<span class="coment">"Best pods in America"</span><small>- Ken Davids, Coffee Critic</small>
					</div>
				</li>
			</ul>
		</div>
	</div><!-- //review-wrap -->

<!-- SECTION-CLIENT -->
	<section  class="section-client">
		<div class="container">
			<div class="col-sm-3">
				<h3 class="title-client">as featured in</h3>
			</div><!-- / .col-md-3 -->
			<div class=" client-item col-sm-3">
				<a href="#" class="client-link">
					<img src="images/client/1.png">
				</a>
			</div><!-- / .col-md-3 -->
			<div class="client-item col-sm-3">
				<a href="#" class="client-link">
					<img src="images/client/2.png">
				</a>
			</div><!-- / .col-md-3 -->
			<div class="client-item col-sm-3">
				<a href="#" class="client-link">
					<img src="images/client/3.png">
				</a>
			</div><!-- / .col-md-3 -->
		</div>
	</section><!-- / #client -->

	<!-- SECTION-SUBSCRIBE -->
	<section class="section-subscribe">
		<div class="container">
			<p class="text-subscribe">Get HiLine in your office, and get free coffee at home! <a href="#">Sign up for Free Trial today!</a></p>
		</div>
	</section><!-- / #subscribe -->

	<div class="offer-box">
		<p class="offer-box_text">Get updates about new products, discounts and brewing tips</p>	
		<div class="offer-box__form">
			<form name="">
				<input type="text" class="form-control" placeholder="Email Address">
				<input type="submit" value="go!" class="btn-green">
			</form>
		</div>
		<a href="#" class="offer-box__close">No Thanks</a>
	</div> <!-- //offer-box -->
</div><!-- SITE-MAIN BEGIN -->