{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner4.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>Delicious Coffee. Great Value</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">alternative to nespresso club</h2>
		</article>
	</div><!-- / .container -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">
				
				<div class="satisfac__desc col-sm-12">
						<h2>More Choice. More Freedom!</h2>
						<div class="content-text">HiLine exists to solve a problem for coffee drinkers that we have encountered many times ourselves. One day when Gene and his wife ran out of coffee, instead of spending an extra hour to walk to a Nespresso NYC boutique or ordering on Nespresso Club website, Gene took matters into his own hands. Not particularly adept at working with his hands, he managed to open a spent Nespresso pod, cleaned it out of old coffee, ground some fresh beans from his favorite Oakland-based roaster and sealed it with aluminum foil on top. The result was a surprisingly tasty cup of coffee. Soon HiLine was born to give Nespresso users more options, so that they don’t run out of coffee again.
						</div><!-- / .content-text -->

						<div class="clearfix"></div>
						<div class="space45"></div>
					
						<div class="satisfa-testi">
							<figure class="thumb padding-help col-sm-5">
								<img src="images/nespresso_club.jpg">
							</figure>
							<div class="desc col-sm-7">
								<h4>Delicious Coffee. Great Value!</h4>
								<p>We work with small specialty roasters to create premium coffee capsules that work with Nespresso machines. Through our partnerships, we aim to increase the variety of capsules available to consumers and improve the freshness and quality of the single serve coffee pods. Most importantly, we are looking to provide our customers with great value by selling directly through our online store, without the expensive infrastructure of boutiques or celebrity endorsements.</p>
							</div>
						</div><!-- / .satisfa-testi -->

						<div class="satisfac__logo col-sm-5">
							<div class="video-wrapper">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/wqSf9Bg8KSs" frameborder="0" allowfullscreen></iframe>
							</div>
						</div><!-- / .satisfac__logo -->

						<div class="satisfac__desc col-sm-7">
							<h2>No Club Membership Required.</h2>
							<div class="content-text">We also don’t believe in exclusive offerings. We are simple straight-forward guys ourselves and believe that excellent coffee can be consumed without joining a Nespresso Club. So we want to ensure that no one feels obliged to buy more coffee than they need or join our website as a member. Anyone can buy as few as one pack of capsules without having to register as a member.</div>
						</div>
						
				</div><!-- / .satisfac__desc -->

			</div>
		</div>
	</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->