{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner3.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>delicious coffee for less</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">analysis and nespresso vertuoline review</h2>
		</article>
	</div><!-- / .container -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">

				<div class="satisfac__desc col-sm-8">
					<div class="content-text">Recently Nespresso introduced a new coffee machine for the U.S. market. We got promotional materials in the mail from Williams Sonoma and received an email from Nespresso Club about the new offering. This is very exciting. So has Nespresso done it again? Has it delivered a breakthrough coffee technology that will make coffee snobs raise their eye brows in a surprise and say, “woah, didn’t expect that from a single serve machine!” We think it’s a very good machine, but probably not up to Nespresso's high standards. Why? Let’s discuss all the pluses and minuses of VertuoLine.
					</div>	
				</div><!-- / .satisfac__desc .col-sm-8 -->

				<div class="satisfac__logo reset-satisfac-logo col-sm-4">
					<figure>
						<img src="images/nespressovertuolin.jpg" alt="">
					</figure>
				</div><!-- / .satisfac__logo .col-sm-4 -->
				
				<div class="clearfix"></div>
				<div class="space45"></div>
				<div class="col-sm-12">
					<div class="tablist-container clearfix">
						<ul class="list-tab clearfix" role="tablist">
							<li class="active">
								<a href="#pluses" aria-controls="home" role="tab" data-toggle="tab">The Pluses</a>
							</li>
							<li>
								<a href="#minuses" aria-controls="home" role="tab" data-toggle="tab">The Minutes</a>
							</li>
							<li>
								<a href="#bottomline" aria-controls="home" role="tab" data-toggle="tab">The Bottom Line</a>
							</li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane fade in active" id="pluses">
								<ul class="list-circle">
									<li>
										<p>It makes a great espresso, similar in taste to what all Nespresso machines produce.</p>
									</li>
									<li>
										<p>VertuoLine makes “coffee” or 8 oz espresso-based drink, similar in size to a Keurig brewed coffee. Because it is       espresso based, it has beautiful crema and is much tastier than most K-cups on the market that we have tried. Note that the crema layer is very thick and needs to be mixed in with the coffee to prevent a bitter taste.</p>
									</li>
									<li>
										<p>The temperature of the VertuoLine coffee is significantly lower than what you get out of Keurig. That's probably because the crema accounts for such large percentage of the drink. So there is no chance you will burn yourself. Conversely, if you like hot coffee or want to add cold milk to it, you are out of luck
										</p>
									</li>
								</ul>
							</div>
							<div class="tab-pane fade" id="minuses">
								<ul class="list-circle">
									<li>
										<p>The machine is bigger than and lacks the beautiful elegant design of other Nespresso products. Look at the Pixie – it’s a work of art that many of our friends display it in their living rooms and want to show off to their guests. VertuoLine machine reminds us of Keurig, and definitely needs to be hidden in the kitchen.</p>
									</li>
									<li>
										<p>The “coffee” produced by the machine reminds us of an Americano that can be created using most other Nespresso machines just by adding more hot water. That’s what we do ourselves in the morning.</p>
									</li>
									<li>
										<p>It’s more expensive than many coffee makers. The machine is $199, which is about 2x the price of Inissia and the capsules are priced at $0.85 – $1.10 making them almost 50% more expensive than OriginalLine Nespresso capsules.</p>
									</li>
									<li>
										<p>There are fewer capsules to choose from. Nespresso capsules are already hard to find. VertuoLine has only 4 capsules for espresso and 8 capsules for coffee vs. their traditional line-up of 25 capsules. So you would be paying more for having less choice.</p>
									</li>
									<li>
										<p>This is a new product for Nespresso and is not sold outside of the U.S. Unless its adoption grows fast -- currently its very limited -- it may be discontinued in the future. As an early adopter, you may have to deal with new and unproven capsule technology.</p>
									</li>
								</ul>
							</div>
							<div class="tab-pane fade" id="bottomline">
								<p>Nespresso has introduced VertuoLine to better appeal to U.S. consumers who have preference for filtered coffee. Time will tell how successful this coffee maker becomes, but right now it seems that early adopters would have to develop a penchant for coffee with think layer of crema. Indeed it's like no other cup of joe you have tried before. Try it for yourself perhaps and see if you like it better than traditional espresso or Americano. If you would like to see how this machine stacks up against other <a href="#" class="link-inline">Nespresso OriginalLine</a> machines, check out our <a href="#" class="link-inline">Nespresso machine reviews</a> page for all of the info.</p>

								<div class="smallest-container">
									<div class="row">
										
										<div class="col-sm-6 item-machine clearfix">
											<a href="#" class="subitem-machine">
												<figure class="thumbtabs"><img src="images/machine/7.jpg" width="275"></figure>
												<h2>Pixie</h2>
											</a>
										</div><!-- / .item-machine -->

										<div class="col-sm-6 item-machine clearfix">
											<a href="#" class="subitem-machine" >
												<figure class="thumbtabs"><img src="images/machine/9.jpg" width="239"></figure>
												<h2>VertuoLine</h2>
											</a>
										</div><!-- / .item-machine -->

									</div><!-- / .row -->
								</div><!-- / .smallest-container -->

							</div>
						</div><!-- / .tab-content -->

					</div><!-- / .tablist-container -->					
				</div><!-- / .col-sm-12 -->


			</div>
		</div>
	</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->