{{> site-header-cart}}

<div class="site-main">
	<div class="space60"></div>
	<div class="container">
		<div class="offdeliver-head">
			<h3 class="title-xl">office delivery</h3>
			<div class="contnet-text">
				<p>Impress your co-workers with fresh roasted single serve and whole bean coffee.  <br>Delivered monthly, pause or cancel at any time.</p>
			</div>
		</div> <!-- //offdeliver-head -->

		<div class="offdelivTb table-responsive">
			<table class="table">
				<tr>
					<th>PRODUCT</th>
					<th class="text-center">PRICE</th>
					<th class="text-center">QUANTITY</th>
					<th class="text-center">TOTAL</th>
				</tr>
				<tr>
					<td colspan="4" class="offdelivTb-title-tb">for keurig</td>
				</tr>
				<tr>
					<td>
						<figure class="offdelivTb-thumb">
							<img src="images/office_dev/thumb1.png" alt="">
						</figure>
						<div class="offdelivTb-desc">
							<h5>Stock Exchange Dark </h5>
							<p>Fruity, bold and flavorfull (10 pods)</p>
						</div>
					</td>
					<td class="text-center">
						<span>$9.99</span>
					</td>
					<td class="text-center">
						<div class="group-qty">
							<span class="group-btn">
								<button class="btn-circle btn-minuse">-</button>
							</span>
							<input type="text" value="0" size="4">
							<span class="group-btn">
								<button class="btn-circle btn-pluss">+</button>
							</span>
						</div>
					</td>
					<td class="text-center">
						<span>$13.98</span>
					</td>
				</tr>

				<tr>
					<td>
						<figure class="offdelivTb-thumb">
							<img src="images/office_dev/thumb1.png" alt="">
						</figure>
						<div class="offdelivTb-desc">
							<h5>Stock Exchange Dark </h5>
							<p>Fruity, bold and flavorfull (10 pods)</p>
						</div>
					</td>
					<td class="text-center">
						<span>$9.99</span>
					</td>
					<td class="text-center">
						<div class="group-qty">
							<span class="group-btn">
								<button class="btn-circle btn-minuse">-</button>
							</span>
							<input type="text" value="0" size="4">
							<span class="group-btn">
								<button class="btn-circle btn-pluss">+</button>
							</span>
						</div>
					</td>
					<td class="text-center">
						<span>$13.98</span>
					</td>
				</tr>

				<tr><td colspan="4"><span></span></td></tr>
				<tr><td class="tbline" colspan="4"></td></tr>
				<tr>
					<td colspan="4" class="offdelivTb-title-tb">for Nespresso</td>
				</tr>
				<tr>
					<td>
						<figure class="offdelivTb-thumb">
							<img src="images/office_dev/thumb2.png" alt="">
						</figure>
						<div class="offdelivTb-desc">
							<h5>Wall Street Dark</h5>
							<p>Creamy, nutty, savory (20 pods)</p>
						</div>
					</td>
					<td class="text-center">
						<span>$9.99</span>
					</td>
					<td class="text-center">
						<div class="group-qty">
							<span class="group-btn">
								<button class="btn-circle btn-minuse">-</button>
							</span>
							<input type="text" value="0" size="4">
							<span class="group-btn">
								<button class="btn-circle btn-pluss">+</button>
							</span>
						</div>
					</td>
					<td class="text-center">
						<span>$13.98</span>
					</td>
				</tr>
				<tr><td colspan="4"><span></span></td></tr>
				<tr><td class="tbline" colspan="4"></td></tr>
				<tr>
					<td colspan="4" class="offdelivTb-title-tb">Other</td>
				</tr>
				<tr>
					<td>
						<figure class="offdelivTb-thumb">
							<img src="images/office_dev/thumb3.png" alt="">
						</figure>
						<div class="offdelivTb-desc">
							<h5>Chelsea Light</h5>
							<p>Cinnamon, citrus, blackberry (10 pods)</p>
						</div>
					</td>
					<td class="text-center">
						<span>$9.99</span>
					</td>
					<td class="text-center">
						<div class="group-qty">
							<span class="group-btn">
								<button class="btn-circle btn-minuse">-</button>
							</span>
							<input type="text" value="0" size="4">
							<span class="group-btn">
								<button class="btn-circle btn-pluss">+</button>
							</span>
						</div>
					</td>
					<td class="text-center">
						<span>$13.98</span>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="offdelivTb-title-tb">OTHERS</td>
				</tr>
				<tr>
					<td>
						<figure class="offdelivTb-thumb">
							<img src="images/office_dev/thumb2.png" alt="">
						</figure>
						<div class="offdelivTb-desc">
							<h5>Wall Street Dark</h5>
							<p>Creamy, nutty, savory (20 pods)</p>
						</div>
					</td>
					<td class="text-center">
						<span>$9.99</span>
					</td>
					<td class="text-center">
						<div class="group-qty">
							<span class="group-btn">
								<button class="btn-circle btn-minuse">-</button>
							</span>
							<input type="text" value="0" size="4">
							<span class="group-btn">
								<button class="btn-circle btn-pluss">+</button>
							</span>
						</div>
					</td>
					<td class="text-center">
						<span>$13.98</span>
					</td>
				</tr>
				<tr>
					<td>
						<figure class="offdelivTb-thumb">
							<img src="images/office_dev/thumb4.png" alt="">
						</figure>
						<div class="offdelivTb-desc">
							<h5>Chelsea Light</h5>
							<p>Cinnamon, citrus, blackberry (10 pods)</p>
						</div>
					</td>
					<td class="text-center">
						<span>$9.99</span>
					</td>
					<td class="text-center">
						<div class="group-qty">
							<span class="group-btn">
								<button class="btn-circle btn-minuse">-</button>
							</span>
							<input type="text" value="0" size="4">
							<span class="group-btn">
								<button class="btn-circle btn-pluss">+</button>
							</span>
						</div>
					</td>
					<td class="text-center">
						<span>$13.98</span>
					</td>
				</tr>
				<tr><td colspan="4"><span></span></td></tr>
				<tr><td class="tbline" colspan="4"></td></tr>
				<tr>
					<td colspan="2"><br></td>
					<td class="text-right totalprice"><br>Total:</td>
					<td class="text-center totalprice"><br>$110.88/mo</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align:right;">
					<button class="btn btn-green">continue</button></td>
				</tr>
			</table>
		</div><!-- //offdeliver -->
	</div>
	{{> subscribe_grey }}
</div> <!-- //Site Main -->
	
