{{> site-header-cart}}

<div class="site-main">
{{#offDev}}
	<section class="hero-offDel">
		<div class="container">
			{{#intro}}
				<div class="hero-offDel__desc">
					<h2>{{{title}}}</h2>
					<div class="hero_offDel-point">
						<ul>
							{{#point}}
								<li class="fa fa-check-circle">{{.}}</li>
							{{/point}}
						</ul>
					</div> <!-- //hero_offDel-point -->
				</div>
			{{/intro}}
		</div>
	</section> <!-- //hero-offDel -->

	<div class="container">
		<section class="coffee-plans">
			<ul class="list-unstyled">
				{{#plans}}
					<li class="col-sm-4">
						<div class="inside">
							<span class="numb">{{numb}}</span>
							<h5 class="coffee-plans__name">{{title}}</h5>
							<div class="content-text">
								{{desc}} 
							</div>
						</div>
					</li>
				{{/plans}}
			</ul>
		</section> <!-- //coffee-plans -->

		<section class="coffee-action">
			{{#boxes}}
				<div class="coffact-box col-md-6">
					<div class="inside">
						<h5>{{title}}</h5>
						<div class="content-text">
							<p>{{desc}}</p>
						</div>
						{{#contains btn "submit"}}
						    <a href="#spreadBox" class="btn btn-green fancybox">{{btn}}</a>
						{{else}}
						    <a href="#" class="btn btn-green">{{btn}}</a>
						{{/contains}}
					</div>
				</div>
			{{/boxes}}
		</section> <!-- //coffee-action -->
	</div>
	<div class="space60"></div>
 	
 	<div id="spreadBox" class="spreadbox">
			{{#spreadbox}}
				<h3>{{title}}</h3>
				<div class="content-text">{{desc}}</div>
				<div class="spreadform">
					<form name="" class="row">	
						<div class="col-md-6">
							<div class="form-group"><input type="text" name="" placeholder="Your Name" class="form-control"></div>
							<div class="form-group"><input type="text" name="" placeholder="Your Email"  class="form-control"></div>
						</div>

						<div class="col-md-6">
							<div class="form-group"><input type="text" name="" placeholder="Office Manager’s Name" class="form-control"></div>
							<div class="form-group"><input type="text" name="" placeholder="Office Manager’s Email"  class="form-control"></div>
						</div>
						<div class="clearfix"></div>
						<div class="spreadbox_term">
							<input type="text" class="input-line">, was hoping we could get some HiLine coffee at the office.  I managed to get us a $50 free coupon to try them out.<br><input type="text" class="input-line">
						</div>
						<input type="submit" class="btn btn-green" value="submit">
					</form>
				</div>
			{{/spreadbox}}
	</div> <!-- //spreadbox -->

<!-- SECTION-CLIENT -->
	<section  class="section-client default">
		<div class="container">
			<div class="col-sm-3">
				<h3 class="title-client">as featured in</h3>
			</div><!-- / .col-md-3 -->
			<div class=" client-item col-sm-3">
				<a href="#" class="client-link">
					<img src="images/client/1.png">
				</a>
			</div><!-- / .col-md-3 -->
			<div class="client-item col-sm-3">
				<a href="#" class="client-link">
					<img src="images/client/2.png">
				</a>
			</div><!-- / .col-md-3 -->
			<div class="client-item col-sm-3">
				<a href="#" class="client-link">
					<img src="images/client/3.png">
				</a>
			</div><!-- / .col-md-3 -->
		</div>
	</section><!-- / #client -->
{{/offDev}}	
</div><!-- SITE-MAIN BEGIN -->