{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner6.jpg')">
		<div class="container">
			<div class="hero-inner__desc">
				<h1>privacy policy</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">

				<div class="satisfac__desc col-sm-12">
					<div class="clearfix"></div>
					<div class="space15"></div>
					<h1>Section 1 - What Do We Do With Your Information?</h1>
					<div class="clearfix"></div>
					<div class="space15"></div>
					<div class="content-text">When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.</div>
					<div class="content-text"> When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</div>
					<div class="content-text">With your permission, we may send you emails about our store, new products and other updates.</div>

					<div class="clearfix"></div>
					<div class="space30"></div>
					<h1>Section 2 - Consent</h1>
					<div class="clearfix"></div>
					<div class="space15"></div>
					<div class="content-text">How do you get my consent?</div>
					<div class="content-text">When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.</div>
					<div class="content-text">If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.</div>
					<div class="content-text">How do I withdraw my consent?</div>
					<div class="content-text">If after you opt-in, you change your mind, you may withdrawing your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at hi@hilinecoffee.com or mailing us at: HiLine Coffee Company, 1133 Broadway Suite 706, New York, NY 10010</div>

					<div class="clearfix"></div>
					<div class="space30"></div>
					<h1>Section 3 - Disclosure</h1>
					<div class="clearfix"></div>
					<div class="space15"></div>
					<div class="content-text">We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</div>

					<div class="clearfix"></div>
					<div class="space45"></div>
					<h1>Section 4 - Magneto</h1>
					<div class="content-text">Our store is hosted on Magento. Mangeto provides us with the online e-commerce platform that allows us to sell our products and services to you. </div>
					<div class="content-text">Your data is stored through Magento data storage, databases and the general Magento application. They store your data on a secure server behind a firewall.</div>

					<div class="clearfix"></div>
					<div class="space30"></div>
					<h1>Section 5 - Third-party Services</h1>
					<div class="clearfix"></div>
					<div class="space15"></div>
					<div class="content-text">In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.</div>
					<div class="content-text">However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</div>
					<div class="content-text">For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</div>
					<div class="content-text">In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</div>
					<div class="content-text">As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.</div>
					<div class="content-text">Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service. </div>
					<div class="content-text">When you click on links on our store, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.</div>
					<div class="content-text">Our store uses Google Analytics or other such services to help us learn about who visits our site and what pages are being looked at.</div>

					<div class="clearfix"></div>
					<div class="space30"></div>
					<h1>Section 6 - Security</h1>
					<div class="clearfix"></div>
					<div class="space15"></div>
					<div class="content-text">To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</div>
					<div class="content-text">If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption.  Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.</div>

				</div><!-- / .satisfac__desc .col-sm-12 -->				

			</div>
		</div>
	</div>
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->