{{> site-header-cart }}
<div class="site-main">
	
	<section class="hero-inner" style="background-image: url('images/banner_inner2.jpg')">
		<div class="container">
			<div class="hero-inner__desc colorwhite">
				<h1>hiline reviews</h1>
			</div>
		</div>
	</section><!-- / .her-inner -->

	<div class="container">
		<article class="satisfa-splash reset-splash">
			<h2 class="title-centerline">what people are saying</h2>
		</article>
	</div><!-- / .container -->

	<div class="satisfac reset-satisfac-top">
		<div class="container">
			<div class="row">
				
				<div class="col-md-6 item-review">
					<div class="subitem-review">
						<header class="title-reviews clearfix">
							<img src="images/review/1.png">
							<div class="content-title">
								<h3>Anthony Hoy Fong,</h3>
								<span>Restaurateur</span>
							</div>
						</header>
						<p>As a chef who travels the country opening restaurants and cooking for high-profile clients of the most discerning taste, I'm always on the look out for exciting new products of the highest quality. HiLine coffee is a premium coffee product that rivals some of the best coffee I've had in Michelin starred restaurants and in cafes of Rome and Paris. It's a unique, hip, NY-centric alternative to existing coffee systems currently on the market and as a chef that's always exciting to find.</p>					
					</div>
				</div><!-- / .item-review -->

				<div class="col-md-6 item-review">
					<div class="subitem-review">
						<header class="title-reviews clearfix">
							<img src="images/review/2.png">
							<div class="content-title">
								<h3>Matt Lambert</h3>
								<span>Michelin Chef</span>
							</div>
						</header>
						<p>When I need to get a boost for a chaotic day, my go to is HiLine Coffee, it's delicious and convenient. I can have an espresso at home that tastes great with out having to line up and wait at a coffee shop!</p>
					</div>
				</div><!-- / .item-review -->

				<div class="col-md-6 item-review">
					<div class="subitem-review">
						<header class="title-reviews clearfix">
							<img src="images/review/3.png">
							<div class="content-title">
								<h3>Matthew O'Neil</h3>
								<span>Emmy Award Winner</span>
							</div>
						</header>
						<p>I had two servings of my HiLine Wall Street espresso this morning when I arrived at my desk - a delicious start to my day. As I pushed forward I moved uptown with a taste of Times Square with before lunch and a late afternoon visit to the United Nations (decaf) for a meeting with a colleague before I headed home. HiLine coffee is a great NYC experience and brand that everyone in our office loves.</p>					
					</div>
				</div><!-- / .item-review -->

				<div class="col-md-6 item-review">
					<div class="subitem-review">
						<header class="title-reviews clearfix">
							<img src="images/review/4.png">
							<div class="content-title">
								<h3>Georgia Lee</h3>
								<span>Writer-filmmaker</span>
							</div>
						</header>
						<p>When I need to get a boost for a chaotic day, my go to is HiLine Coffee, it's delicious and convenient. I can have an espresso at home that tastes great with out having to line up and wait at a coffee shop!</p>
					</div>
				</div><!-- / .item-review -->

				<div class="col-md-6 item-review">
					<div class="subitem-review">
						<header class="title-reviews clearfix">
							<img src="images/review/5.png">
							<div class="content-title">
								<h3>Serga Maluga</h3>
								<span>Fitness Coach</span>
							</div>
						</header>
						<p>Coffee is a great addition to any serious fitness routine. HiLine's fresh pods are a fantastic source of caffeine and antioxidants.</p>					
					</div>
				</div><!-- / .item-review -->

				<div class="col-md-6 item-review">
					<div class="subitem-review">
						<header class="title-reviews clearfix">
							<img src="images/review/6.png">
							<div class="content-title">
								<h3>Jorge Casano</h3>
								<span>Founder and CEO, Ecole</span>
							</div>
						</header>
						<p>HiLine Coffee represents all the qualities of a modern premium brand: no non-sense marketing, best quality product, simple design, and fair accessible price point. Definitively a brand you should know if you love coffee.</p>					
					</div>
				</div><!-- / .item-review -->

				<div class="col-md-6 item-review">
					<div class="subitem-review">
						<header class="title-reviews clearfix">
							<img src="images/review/7.png">
							<div class="content-title">
								<h3>Chris Maltibe</h3>
								<span>Office Manager, Tough Mudder</span>
							</div>
						</header>
						<p>Like any young business, our employees are rampant coffee addicts, well-adapted to the rote consumption of typical single-brew instant coffee systems; however, these daily doses of caffeine typically lend their popularity to convenience, not quality. The introduction of HiLine's product line to our office was a big hit - no longer forcing our employees to choose between a cup of coffee that was accessible and a cup that was enjoyable. The local coffee chains, no doubt, will not be as appreciative.</p>					
					</div>
				</div><!-- / .item-review -->

				<div class="col-md-6 item-review">
					<div class="subitem-review">
						<header class="title-reviews clearfix">
							<img src="images/review/8.png">
							<div class="content-title">
								<h3>Vitali Edrenkine</h3>
								<span>Senior Manager, Strategy, Samsung Electronics</span>
							</div>
						</header>
						<p>I introduced my team to HiLine Coffee, and after an initial surprise, they liked it! Most of us have been ordering the Times Square Dark variety - a quick consensus, for once!</p>					
					</div>
				</div><!-- / .item-review -->

				<div class="col-md-6 item-review">
					<div class="subitem-review">
						<header class="title-reviews clearfix">
							<img src="images/review/9.png">
							<div class="content-title">
								<h3>Nick Taranto</h3>
								<span>Co-Founder & CEO, Plated</span>
							</div>
						</header>
						<p>We have it at our office now, Love it. Definitely a no brainer versus Nespresso.</p>					
					</div>
				</div><!-- / .item-review -->

				<div class="col-md-6 item-review">
					<div class="subitem-review">
						<header class="title-reviews clearfix">
							<img src="images/review/10.png">
							<div class="content-title">
								<h3>Jennifer Berrent</h3>
								<span>Partner, Wilmer Hale</span>
							</div>
						</header>
						<p>Living in NYC, my colleagues and I are all fans of “good” coffee. The standard fare served by our cafeteria just will not do, and so we frequently make outings to the local coffee shop. But now we have a fix in-house. We all love the HiLine coffee selections, and find ourselves getting our caffeine fix right down the hall.</p>
					</div>
				</div><!-- / .item-review -->
				
			</div>
		</div>
	</div><!-- / .satisfac -->
	
	{{> subscribe_grey }}
</div><!-- / .site-main -->