{{> site-header}}
<div class="site-main">
	{{#stisfaGuarant}}
		<section class="hero-inner"  style="background-image: url('images/banner_inner.jpg')">
			<div class="container">
				<div class="hero-inner__desc colorwhite">
					<h1>HAPPINNESS GUARANTEE</h1>
				</div>
			</div>
		</section><!-- //hero-inner -->
		
		<div class="container">
			<article class="satisfa-splash">
				<h2 class="title-centerline">{{title}}</h2>
				<div class="content-text">
					<p>{{descIntro}}</p>
				</div>
				<p class="text-center">
				<a href="#" class="btn btn-green">{{btn}}</a>
				</p>
			</article><!-- //satisfa-splash -->


			<section class="satisfa-testi">
				{{#profile}}
				<figure class="thumb col-sm-5">
					<img src="images/thumb_profile.jpg" alt="" />
				</figure>
				<div class="desc col-sm-7">
					<h4>{{title}}</h4>
					<p>
						{{desc}}
					</p>
				</div>
				{{/profile}}
			</section><!-- //satisfa-testi -->
		</div>
		<div class="space50"></div> 
	{{/stisfaGuarant}}
	{{> subscribe_grey }}
</div> <!-- //SITE MAIN -->


	
