{{> site-header-cart}}

<div class="site-main">
	{{> inermain_nav_white}}
	<div class="container">
		<section class="shop-land">
			<ul class="list-unstyled">
				{{~#shopland}}
				<li class="shop-landItem col-md-4 cols-sm-6 clearfix">
					<div class="inner">
						<a href="#">
							<figure><img src="{{thumb}}" alt=""></figure>
							<div class="desc">
								<h3>{{name}}</h3>
								<span class="composition">{{mix}}</span>
								<span class="price">{{price}}</span>
							</div>
						</a>
					</div>
				</li>
				{{~/shopland}}
			</ul>
		</section>
	</div>
	{{> subscribe_grey }}
</div> <!-- //Site Main -->
	
