{{> site-header}}

<div class="site-main">
{{> inermain_nav}}

{{#storyProd}}
<div class="container">
	<section class="ourprod-land">
		<h3 class="title-xs-bold">{{title}}</h3>
		<ul class="row">
			{{~#prodList}}
				<li class="ourprod-item col-sm-4">
					<div class="inner">
						<a href="#">
							<figure class="thumb"><img src="images/{{thumb}}" alt=""></figure>
							<div class="content-text">
								<h4>{{title}}</h4>
								<p>{{desc}}</p>
							</div>
						</a>
					</div>
				</li>
			{{~/prodList}}
		</ul>
	</section> <!-- //ourprod-land -->
	<div class="next-step">
		<div class="container">
			<a href="#">
				<span class="theline"></span>
				<span class="text">NEXT: TEAM</span>
			</a>
		</div>
	</div> <!-- // next-step -->
	<div class="space60"></div>
</div>
{{/storyProd}}
<section id="client" class="section-box-small section-client bg-gray-dark">
    <div class="container">
        <div class="col-md-3">
            <h3 class="title-client">as featured in</h3>
        </div>
        <!-- / .col-md-3 -->
        <div class="col-md-3">
            <a href="#" class="client-link">
                <img src="images/client/1.png">
            </a>
        </div>
        <!-- / .col-md-3 -->
        <div class="col-md-3">
            <a href="#" class="client-link">
                <img src="images/client/2.png">
            </a>
        </div>
        <!-- / .col-md-3 -->
        <div class="col-md-3">
            <a href="#" class="client-link">
                <img src="images/client/3.png">
            </a>
        </div>
        <!-- / .col-md-3 -->
    </div>
</section> <!-- /client -->
</div><!-- //Site Main -->



	
