.btn-center{
	text-align: center;
	display: block;
	.btn{
		min-width: 180px;
		&:first-child{
			margin-right: 20px;
		}
	}
}

.btn{
	display: inline-block;
	padding: 12px 25px;
	text-transform: uppercase;
	transition: all 350ms ease-out;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 0;
	font-weight: normal;
	letter-spacing: 0.2em;
	&:hover,
	&:focus{
		text-decoration: none;
		outline-color: transparent;
	}
}
.btn-full{
	.btn{
		width: 100%;
	}
}

.btn-gray{
	color: black;
	background-color: $color-gray-dark;
	box-shadow: inset 0 0 0 2px rgba( $color-gray-dark, 1);
	&:hover,
	&:focus{
		color: black;
		background-color: transparent;
	}
}

.btn-green{
	background: none;
	border: none;
	color: white;
	background: $color-green;
	box-shadow: inset 0 0 0 2px rgba( $color-green, 1);
	letter-spacing: 0.1em;
	&:hover,
	&:focus{
		color: $color-green;
		background-color: transparent;
	}
}

.btn-greenBold{
	@extend .btn-green;
	letter-spacing: 1px;
	font-family: 'futura_ltbold';
}

.btn-blue{
	background-color: $color-blue;
	&:hover,
	&:focus{
		background-color: $color-blue-light;
	}
}

.btn-lnGreen{
	background: none;
	border: none;
	background: white;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: 1px solid #51a46c;
	font-size: 17px;
	text-align: center;
	display: inline-block;
	padding: 7px 25px;
	color: #000000;

	&:hover{
		color: #0067b3;
		color: white;
		background: #51a46c;
	}
}
