/*input[type="text"], 
input[type="email"], 
input[type="website"], 
input[type="search"],
textarea{
	width: 100%;
	padding: 1em;
	border: 1px solid rgba( $color-border, .7 );
}*/
textarea{
	resize: vertical;
}
.form-control{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	height: 43px;
}
select {
  -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 94% 50%;
    background-repeat: no-repeat;
    background-image: url('../images/select_arr.png') !important;
    padding: .5em;
    padding-right: 1.5em;
    border-radius: 0;
}


/*====== CHECKBOX AND RADIO ======*/

.checkbox, .radio{
	font-size: 13px;
	label{
		padding-left: 0;
	}
	input[type="checkbox"]{
		margin-top: 7px;
	}
}

.radio{
	label{
		line-height: 1.6em;
	}
	.txt{
		overflow: hidden;
	}
	strong{
		display: block;
		font-size: 16px;
		font-family: 'futura_ltheavy';
		margin-bottom: 6px;	
	}
}

input[type="checkbox"], input[type="radio"] {
    display:none;
}

/*====== CHECKBOX ======*/
input[type="checkbox"] + label span {
    display:inline-block;
    width:13px;
    height:13px;
    margin:-4px 7px 0 0;
    vertical-align:middle;
    background:url('../images/checkbox.png') left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url('../images/checkbox.png') right top no-repeat;
}

/*====== RADIO ======*/
input[type="radio"] + label span {
    display:inline-block;
    width:15px;
    height:15px;
    margin: 3px 10px 0 0;
    vertical-align:middle;
    background:url('../images/radio_fill.png') 0 0 no-repeat;
    cursor:pointer;
    float: left;
    background-size: 15px auto;
    -moz-background-size: 15px auto;
    -webkit-background-size: 15px auto;
}
input[type="radio"]:checked + label span {
    background:url('../images/radio_empty.png') 0 0  no-repeat;
    background-size: 15px auto;
    -moz-background-size: 15px auto;
    -webkit-background-size: 15px auto;
}
